{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - уауку
{% endblock %}

{% block keywords %}
    {{ block.super }}
{% endblock %}

{% block description %}
    {{ block.super }}
{% endblock %}

{% block css %}

    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header.html' %}
    <div class="main mt50">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li class="active">Контакты</li>
            </ul>
        </div>
    </div><!--// breadcrumbs-->

    <section class="contacts">
        <div class="container">
            <h1 class="mb50">Контакты</h1>
        </div>

        <div class="contacts-bg">
            <div class="container">

                <div class="contacts-work-time ">
                    <p class="text-block mb30">График работы: <span>10:00 - 18:00</span></p>
                    <p class="text-block mb40">Звонок бесплатный <span>из любой точки России</span></p>
                    <a class="btn" onclick="toggleModal('callback-order-modal')">заказать обратный звонок</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="contacts-wrapper">
                <div class="contacts-phones">
                    <div class="contacts-phones-header">
                        <p>Есть вопрос? Звоните!</p>
                    </div>
                    <div class="contacts-phones-inner">
                        <ul>
                            <li><p class="contacts-phones-town">Из Челябинска</p>
                                <p class="contacts-phones-number">8 800 324 45 45</p></li>
                            <li><p class="contacts-phones-town">Из Челябинска</p>
                                <p class="contacts-phones-number">8 800 324 45 45</p></li>
                            <li><p class="contacts-phones-town">Из Челябинска</p>
                                <p class="contacts-phones-number">8 800 324 45 45</p></li>
                            <li><p class="contacts-phones-town">Из Челябинска</p>
                                <p class="contacts-phones-number">8 800 324 45 45</p></li>
                            <li><p class="contacts-phones-town">Из Челябинска</p>
                                <p class="contacts-phones-number">8 800 324 45 45</p></li>
                        </ul>
                    </div>
                </div>
                <div class="contacts-mail ">
                    <div class="contacts-mail-header">
                        <p>Или пишите!</p>
                    </div>
                    <div class="contacts-mail-info">
                        <p class="mb30">Любую информациюможно уточнить в любом мессенджере по номеру:</p>
                        <span class="mb30">8 900 356 56 56</span>
                    </div>
                    <div class="contacts-mail-info no-border">
                        <p class="pt30 mb30">Любую интересующую информацию можно уточнить по адресу:</p>
                        <span>help@edelveys.ru</span>
                    </div>
                </div>

            </div>

        </div>


    </section><!--// contacts-->
</div><!-- // main -->
{% include 'callback_form.html' %}
{% endblock %}

{% block js %}
        {{ block.super }}
<script>
  let mobile_button = document.getElementsByClassName('mobile-toggle')[0]
    let mobile_menu_panel = document.getElementsByClassName('mobile-menu-panel')[0]
    let mobile_menu = document.getElementsByClassName('mobile-menu-panel-inner')[0]

      mobile_button.onclick = function () {
        this.classList.toggle('mobile-toggle-active')
        mobile_menu_panel.classList.toggle('mobile-menu-panel-active')
        mobile_menu.classList.toggle('mobile-menu-panel-inner-active')
    }


</script>

{% endblock %}
