{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - уауку
{% endblock %}

{% block keywords %}
    {{ block.super }}
{% endblock %}

{% block description %}
    {{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %} ">
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header_index.html' %}
    <div class="features" >
        <div class="container grid-col3">
            <div class="feature-item text-center">
                <p>35</p>
                <span>Практиков с кандидатской или докторской степенью, работающих в команде более 10-ти лет</span>
            </div>
            <div class="feature-item text-center">
                <p>15 лет</p>
                <span>Существует наша компания. И с самого начала официально, мы платим налоги и отчисления</span>
            </div>
            <div class="feature-item text-center">
                <p>4,9</p>
                <span>Средний балл выполненных работ и защищенных при поддержке нашей команды</span>
            </div>

        </div>
    </div>
    <section id="callback_form" class="calculation-form">
        <div style="margin-top: 140px" class="container-sm">
            <h3 class="text-center">Узнайте стоимость своей работы</h3>
            <h4 class="text-center">Мы пришлём точный ответ на вашу почту</h4>
            <form onsubmit="return false;" enctype="multipart/form-data" method="post" >{% csrf_token %}
                <div class="calculation-form-wrapper">
                    <div class="calculation-form-inner">
                        <div class="form-row">
                            <div class="select-wrapper">
                                <select class="form-control" name="{{ callbackForm.workName.name }}">
                                    <option selected="selected"  value="">Вид работы</option>
                                    {% for service in allService %}
                                        <option value="{{ service.name }}">{{ service.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="select-wrapper">
                                <select class="form-control" name="{{ callbackForm.subject.name }}">
                                    <option selected="selected"  value="">Предмет</option>
                                    {% for subject in allSubjects %}
                                        <option value="{{ subject.name }}">{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <input class="form-control" value="" name="{{ callbackForm.about.name }}" placeholder="Тема работы">
                            <div class="d-flex-jc-sb">
                                <input type="number" class="form-control form-control-sm " name="{{ callbackForm.volume.name }}" value="" placeholder="Объем">
                                <input class="form-control form-control-sm " value="" name="{{ callbackForm.deadLine.name }}" placeholder="Срок">
                            </div>
                            <input type="file" class="form-control form-control-lg" name="{{ callbackForm.file.name }}">
                        </div>


                    </div>
                    <div class="calculation-form-footer">
                        <input class="form-control input-phone" name="{{ callbackForm.phone.name }}" value="" placeholder="Сотовый номер">
                        <input class="form-control input-email" name="{{ callbackForm.email.name }}" value="" placeholder="E-mail адрес">
                        <input class="form-control input-user" name="{{ callbackForm.name.name }}" value="" placeholder="Ваше ФИО">
                    </div>
                    <p class="form-error">Отмеченные поля обязательны для заполнения</p>
                    <button id="form_submit" type="submit"  class="btn btn-lg m-a mb30" onclick="sendForm();">
                        Узнать стоимость своей работы<br>
                        <span>ответ придет на ваш почтовый ящик</span>
                    </button>

                    <label class="custom-checkbox"><span>Даю согласие на обработку моих персональных данных</span>
                        <input name="personal" checked required type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <input style="display: none" name="agree" type="checkbox">
                </div>
            </form>
        </div>
    </section><!-- // calculation-form -->
    <section class="about-man">
        <div class="container">
            <h3 class="mb50">Работу выполнит человек, <span>специализирующийся</span><br>на вашей специальности</h3>
            <p class="text-block not-visible-sm">
                Мы несколько раз меняли исполнителей, именно потому, что нам было необхадимо лично видеть, что человек искрене любит свое дело, а значит, к каждой работе будет подходить уникально и ответственно, работая на результат.
            </p>
            <p class="text-block mt30 not-visible-sm">
                И вот, наш состав не меняется уже на протяжении 7-ми лет, каждый из нас имеет <strong>докторскую или учёную степень</strong>, а главное, желаение выполнять свое любимое дело, а не просто зарабатывать деньги.
            </p>
        </div>
    </section><!-- // about-man -->
    <section class="prices">
        <div class="container">
            <h3 class="text-center">Цены на основные услуги</h3>
            <div class="prices-wrapper">
                <div class="price-item bg-1">
                    <h5>Дипломая работа</h5>
                    <p class="mb20">Стоимость:<span>от 7900 руб</span></p>
                    <p class="mb20">Сроки:<span>от 7 дней</span></p>
                    <p>Работ выполнено:<span>23,783</span></p>
                </div>
                <div class="price-item bg-2">
                    <h5>Дипломая работа</h5>
                    <p class="mb20">Стоимость:<span>от 7900 руб</span></p>
                    <p class="mb20">Сроки:<span>от 7 дней</span></p>
                    <p>Работ выполнено:<span>23,783</span></p>
                </div>
                <div class="price-item bg-3">
                    <h5>Дипломая работа</h5>
                    <p class="mb20">Стоимость:<span>от 7900 руб</span></p>
                    <p class="mb20">Сроки:<span>от 7 дней</span></p>
                    <p>Работ выполнено:<span>23,783</span></p>

                </div>
            </div>
            <a href="#" class="btn btn-md m-a">Посмотреть цены на все услуги</a>
        </div>
    </section><!-- // prices -->
    <section class="how-it-works">
        <div class="container">
            <h3 class="text-center">Как происходит ход работы</h3>
            <h4 class="text-center not-visible-sm">Узнайте, что будет, после того как вы обратитесь к нам за помощью</h4>
            <div class="how-it-works-numbers not-visible-sm">
                <div id="step_1" class="how-it-works-step step-active">
                    <a href="#"><span>01</span></a>
                </div>
                <div id="step_2" class="how-it-works-step">

                    <a href="#"><span>02</span></a>
                </div>
                <div id="step_3" class="how-it-works-step">
                    <a href="#"><span>03</span></a>
                </div>
                <div id="step_4" class="how-it-works-step">
                    <a href="#"><span>04</span></a>
                </div>
            </div><!-- // how-it-works-numbers -->
            <div class="container-sm how-it-works-slider" id="how-it-works-slider">
                <div id="slide_1" class="how-it-works-slide slide-active">
                    <div class="slide-text">
                        <h5 data-number="01" class="mb30">Оставьте заявку и узнайте цену</h5>
                        <p ><a class="link" href="#">Заполните несколько полей</a>, после чего мы сами моментально свяжемся с вами и отправим письмо с ценой вашей работы на ваш e-mail</p>
                    </div>
                    <div class="slide-img text-right not-visible-sm">
                        <img src="{% static 'images/hw-slider.jpg' %}" alt="">
                    </div>
                </div>
                <div id="slide_2" class="how-it-works-slide ">
                    <div class="slide-text">
                        <h5 data-number="02" class="mb30">Оставьте заявку и узнайте цену</h5>
                        <p ><a class="link" href="#">Заполните несколько полей</a>, после чего мы сами моментально свяжемся с вами и отправим письмо с ценой вашей работы на ваш e-mail</p>
                    </div>
                    <div class="slide-img text-right not-visible-sm">
                        <img src="{% static 'images/hw-slider.jpg' %}" alt="">
                    </div>
                </div>
                <div id="slide_3" class="how-it-works-slide ">
                    <div class="slide-text">
                        <h5 data-number="03" class="mb30">Оставьте заявку и узнайте цену</h5>
                        <p ><a class="link" href="#">Заполните несколько полей</a>, после чего мы сами моментально свяжемся с вами и отправим письмо с ценой вашей работы на ваш e-mail</p>
                    </div>
                    <div class="slide-img text-right not-visible-sm">
                        <img src="{% static 'images/hw-slider.jpg' %}" alt="">
                    </div>
                </div>
                <div id="slide_4" class="how-it-works-slide ">
                    <div class="slide-text">
                        <h5 data-number="04" class="mb30">Оставьте заявку и узнайте цену</h5>
                        <p ><a class="link" href="#">Заполните несколько полей</a>, после чего мы сами моментально свяжемся с вами и отправим письмо с ценой вашей работы на ваш e-mail</p>
                    </div>
                    <div class="slide-img text-right not-visible-sm">
                        <img src="{% static 'images/hw-slider.jpg' %}" alt="">
                    </div>
                </div>

                <div class="slider-arrows">
                    <div class="slider-arrow-left ">
                        <a id="arrow-left" href="javascript:void(0)"><span>&#8592;</span>
                            <p>Предыдущий<br/>этап</p>
                        </a>
                    </div>
                    <div class="slider-arrow-right">
                        <a id="arrow-right" href="javascript:void(0)"><span class="text-right">&#8594;</span>
                            <p class="text-right">Следующий<br/>этап</p>
                        </a>
                    </div>
                </div><!-- // slider-arrows -->
            </div>
        </div>
    </section><!-- // how-it-works -->
    <section class="lets-meet not-visible-md">
        <div class="container">
            <div class="lets-meet-inner">
                <h3>Давайте познакомимся<br/> с вами лично</h3>
                <div class="quote">
                    <p>Несколько лет ушло на отбор настоящих профессионалов, которые не просто видят в этом способ заработка, а действительно любят свое дело</p>
                </div>
                <p class="info-text mb35">Ещё учась в университете, у меня возник огромный интерес к выполнению различных работ, сначала свои работы, а после, когда их стало мало, начала брать работы одногруппников и учеников из других групп.</p>
                <p class="info-text mb35">После окончания университета интерес не утих, ведь каждая работа творчески интересна, зачастую предполагает наличие кропотливых расчетов.</p>
                <p class="info-text mb35">Таким образом, в 2003 году начала зарабатывать этим на жизнь, выполняя работы под заказ от других фирм. А уже в 2004 нашла единомышленников и основала свою компанию.</p>
                <p class="info-text">И вот, уже на протяжении семи лет наш состав остается неизменным. Каждый сотрудник — настоящий практик в своей специальности, который живет ею.</p>
            </div>
            <div class="lets-meet-about">
                <p><span>Основательница</span><br/>компании "Эдельвейс"<br/><span>Алёна Шарлова</span></p>
            </div>
        </div>
    </section><!-- // lets-meet -->
    <section class="our-help not-visible-md">
        <div class="container ">
            <h3>Посмотрите, как мы уже помогли другим клиентам</h3>
            <h4 class="text-center mb50">Несколько примеров нашей работы и реальные отзывы о ней</h4>
           <div class="our-help-inner">
                <div id="review_image" class="our-help-media" style="background: url({{ allComments.first.image_big.url }}) no-repeat center">
                </div>
                <div class="our-help-info">
                    <div class="our-help-info-header mb30">
                        <h5 id="review_title" class="mb20">{{ allComments.first.title }}</h5>
                        <p id="review_description"  class="mb20">{{ allComments.first.description }}</p>
                    </div>
                    <p id="review_shortReview" class="mb30">
                         {{ allComments.first.shortReview }}
                    </p>
                    <div id="review_fullReview" class="our-help-inner-full-review">
                        {{ allComments.first.fullReview }}
                    </div>
                    <a id="readfullreview_btn" class="link text-upper mb40" onclick="readFullReview()">Читать далее...</a>
                    <a href="#" class="btn btn-md">оставить свой отзыв</a>
                </div>
            </div><!-- //our-help-inner-->
            <div class="our-help-media-slider" id="our-help-media-slider">
                {% for comment in allComments %}
                   <div class="our-help-media-slide-item"
                     data-image="{{ comment.image_big.url }}"
                     data-title="{{ comment.title }}"
                     data-description="{{ comment.description }}"
                     data-shortreview="{{ comment.shortReview }}"
                     data-fullreview="{{ comment.fullReview }}"
                     onclick="changeReview(this)">
                    <div class="our-help-media-slide-image">
                        <img src="{{ comment.image_small.url }}" alt="">
                    </div>
                    <h5>{{ comment.writtenBy }}</h5>
                    <p>{{ comment.description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="controls" id="customize-controls">
                <div class="prev">
                    <img src="{% static 'images/icons/blue_left_arrow.svg' %}" alt="">
                </div>
                <div class="next">
                    <img src="{% static 'images/icons/blue_right_arrow.svg' %}" alt="">
                </div>
            </div>
        </div>

    </section><!-- // our-help -->
    <section class="why-our-work">
        <div class="container">
            <h3>Почему работу лучше купить,<br>чем делать самому?</h3>
            <p class="mb40">Дипломная работа - это самое сложное и ответственное <span>задание за весь учебный срок</span></p>
            <p class="mb40"><span>Риск получить низкий балл</span> из-за преподавателей и сложности оформления</p>
            <p class="mb40">Лучше <span>положиться на профессионалов,</span> чем ошибиться самому</p>
            <p>Написание дипломных работ – практически всегда <span>нервотрепка и стресс</span></p>



        </div>

    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script>
      let review_image=document.getElementById('review_image'), review_title=document.getElementById('review_title'),
            review_description=document.getElementById('review_description'),
            review_shortReview=document.getElementById('review_shortReview'),
            review_fullReview=document.getElementById('review_fullReview'),
            readfullreview_btn = document.getElementById("readfullreview_btn"),
            full_review_div=document.getElementsByClassName('our-help-inner-full-review')[0]
    function changeReview(el) {
            full_review_div.classList.remove('full-review-active')
            readfullreview_btn.innerHTML = "Читать далее...";
            review_image.style.background = "url('"+el.dataset.image+"') no-repeat center"
            review_title.innerText = el.dataset.title
            review_description.innerText = el.dataset.description
            review_shortReview.innerText = el.dataset.shortreview
            review_fullReview.innerHTML = el.dataset.fullreview

    }
    function readFullReview() {

        if (readfullreview_btn.innerHTML === "Читать далее...") {
            readfullreview_btn.innerHTML = "Скрыть"
          } else {
            readfullreview_btn.innerHTML = "Читать далее..."
          }
        full_review_div.classList.toggle('full-review-active')

    }

        var mobile = 'false',
            isTestPage = false,
            isDemoPage = true,
            classIn = 'jello',
            classOut = 'rollOut',
            speed = 400,
            doc = document,
            win = window,
            ww = win.innerWidth || doc.documentElement.clientWidth || doc.body.clientWidth,
            fw = getFW(ww),
            initFns = {},
            sliders = new Object(),
            edgepadding = 50,
            gutter = 10;

        function getFW (width) {
            var sm = 400, md = 900, lg = 1400;
            return width < sm ? 150 : width >= sm && width < md ? 200 : width >= md && width < lg ? 300 : 400;
        }
        window.addEventListener('resize', function() { fw = getFW(ww); });

        var options = {
            'our-help-media-slider': {
                container: '',
                items: 4,
                controlsContainer: '#customize-controls',
                autoplay: true,
                autoplayTimeout: 4000,
                speed: 1000,
            },
        }

        for (var i in options) {
            var item = options[i];
            item.container = '#' + i;
            item.swipeAngle = false;
            if (!item.speed) { item.speed = speed; }
            if (document.querySelector(item.container)) {
                sliders[i] = tns(options[i]);
                if (isTestPage && initFns[i]) { initFns[i](); }
            } else if (i.indexOf('responsive') >= 0) {
                if (isTestPage && initFns[i]) { initFns[i](); }
            }
        }

        let mobile_button = document.getElementsByClassName('mobile-toggle')[0]
        let mobile_menu_panel = document.getElementsByClassName('mobile-menu-panel')[0]
        let mobile_menu = document.getElementsByClassName('mobile-menu-panel-inner')[0]
        let arrow_left = document.getElementById('arrow-left')
        let arrow_right = document.getElementById('arrow-right')
        let last_slide = 1
        let current_slide = 1

        mobile_button.onclick = function () {
            this.classList.toggle('mobile-toggle-active')
            mobile_menu_panel.classList.toggle('mobile-menu-panel-active')
            mobile_menu.classList.toggle('mobile-menu-panel-inner-active')
        }
        window.addEventListener('scroll', function() {
            console.log(window.innerWidth)
            if (window.innerWidth >991 && pageYOffset > 200){
                document.getElementsByClassName('header-dropdown')[0].style.display = 'flex'
                document.getElementsByClassName('header-dropdown')[0].classList.add('header-slide-bottom')
                document.getElementsByClassName('header-dropdown')[0].classList.remove('header-slide-top')

            }else{
                document.getElementsByClassName('header-dropdown')[0].classList.remove('header-slide-bottom')
                document.getElementsByClassName('header-dropdown')[0].classList.add('header-slide-top')
            }
        });

        arrow_left.onclick = function () {
            console.log('left click')
            console.log('last_slide before', last_slide)
            console.log('current_slide before', current_slide)
            let cur_slide = document.getElementsByClassName('slide-active')[0]
            last_slide = current_slide
            if (current_slide-1 < 1){
                current_slide = 4
            }else {
                current_slide -= 1
            }

            changeSlide()
        }

        arrow_right.onclick = function () {
            console.log('right click')
            console.log('last_slide before', last_slide)
            console.log('current_slide before', current_slide)
            let cur_slide = document.getElementsByClassName('slide-active')[0]
            last_slide = current_slide
            if (current_slide+1 > 4){
                current_slide = 1
            }else {
                current_slide += 1
            }
            changeSlide()
        }

        function changeSlide() {
            console.log(current_slide)
            document.getElementById(`step_${last_slide}`).classList.remove('step-active')
            document.getElementById(`slide_${last_slide}`).classList.remove('slide-active')

            setTimeout(function() {
                document.getElementById(`step_${current_slide}`).classList.add('step-active')
                document.getElementById(`slide_${current_slide}`).classList.add('slide-active')

            }, 300);
        }
    </script>
{% endblock %}