{% extends  'basic.html' %}
{% load static %}

{% block title %}
   {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header.html' %}
    <div class="main mt50">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li class="active">Цены и сроки</li>
            </ul>
        </div>
    </div><!--// breadcrumbs-->

    <section class="all-prices">
        <div class="container">
            <h1 class="mb50">Цены на основные услуги</h1>
            <div class="prices-wrapper">
                <div class="price-item bg-grey">
                    <h5>Дипломая работа</h5>
                    <p class="mb20">Стоимость:<span>от 9700 руб</span></p>
                    <p class="mb20">Сроки:<span>от 5 дней</span></p>
                    <p class="mb20">Работ выполнено:<span>27 700</span></p>
                    <a class="btn" onclick="toggleModal('order-modal')">заказать работу</a>
                </div>
                <div class="price-item bg-grey">
                    <h5>Курсовая работа</h5>
                    <p class="mb20">Стоимость:<span>от 1700 руб</span></p>
                    <p class="mb20">Сроки:<span>от 1 дня</span></p>
                    <p class="mb20">Работ выполнено:<span>115 780</span></p>
                    <a class="btn" onclick="toggleModal('order-modal')">заказать работу</a>
                </div>
                <div class="price-item bg-grey">
                    <h5>Отчет по практике</h5>
                    <p class="mb20">Стоимость:<span>от 1700 руб</span></p>
                    <p class="mb20">Сроки:<span>от 1 дня</span></p>
                    <p class="mb20">Работ выполнено:<span>67 800</span></p>
                    <a class="btn" onclick="toggleModal('order-modal')">заказать работу</a>

                </div>
            </div><!--//prices-wrapper -->
            <div class="price-search">
                <h3 class="not-visible-sm">Все услуги</h3>
                <input class="form-control borderless" oninput="filterWorks(this)" placeholder="Поиск по виду работы">
            </div>
            <div class="prices-items">
                {% for service in allService %}
                <div data-name="{{ service.name_lower }}" id="tab_{{ service.id }}" class="prices-item mb20">
                    <div class="prices-item-inner">
                        <p class="price-item-name"><a style="border-bottom: 1px solid #ffdc84; color: #151515" href="{% url 'service' service.name_slug %}">{{ service.name }}</a></p>
                        <p class="price-item-cost not-visible-sm">от {{ service.price }} р</p>
                        <p class="price-item-time not-visible-sm">от {{ service.time }} </p>
                        <a href="{% url 'service' service.name_slug %}" data-tab_id="{{ service.id }}" class="price-toggle"><span ></span></a>

                    </div>
                    <div  class="price-item dropdown-prices ">
                        <p class="mb20">Сроки:<span>от {{ service.time }} </span></p>
                        <p class="mb20">Цена:<span>от {{ service.price }} р</span></p>
                        <a class="btn" onclick="toggleModal('order-modal')" >заказать</a>

                    </div>
                </div>
                {% endfor %}



            </div>

        </div>


    </section><!--// all-prices-->
     <section class="why-our-work">
        <div class="container">
            <h3>Почему работу лучше купить,<br>чем делать самому?</h3>
            <p class="with-bullet mb40">Дипломная работа - это самое сложное и ответственное <span>задание за весь учебный срок</span></p>
            <p class="with-bullet mb40"><span>Риск получить низкий балл</span> из-за преподавателей и сложности оформления</p>
            <p class="with-bullet mb40">Лучше <span>положиться на профессионалов,</span> чем ошибиться самому</p>
            <p class="with-bullet mb40">Написание дипломных работ – практически всегда <span>нервотрепка и стресс</span></p>
        </div>
    </section>
</div><!-- // main -->
    {% include 'callback_form.html' %}
{% endblock %}

{% block js %}

    {{ block.super }}

  <script>
    let mobile_button = document.getElementsByClassName('mobile-toggle')[0]
    let mobile_menu_panel = document.getElementsByClassName('mobile-menu-panel')[0]
    let mobile_menu = document.getElementsByClassName('mobile-menu-panel-inner')[0]

      mobile_button.onclick = function () {
        this.classList.toggle('mobile-toggle-active')
        mobile_menu_panel.classList.toggle('mobile-menu-panel-active')
        mobile_menu.classList.toggle('mobile-menu-panel-inner-active')
    }



    let price_toggles = document.getElementsByClassName('price-toggle')
    let allWorks = document.getElementsByClassName('prices-item')
    let link_chahged = false

    function filterWorks(el){
        if(el.value){
            for(i of allWorks){
                if (!i.dataset.name.includes(el.value.toLowerCase())){
                    i.style.display='none'
                }else{
                    i.style.display='block'
                }
            }
        }else{
            for(i of allWorks){
                i.style.display='block'
            }
        }
    }



    window.addEventListener('resize', function() {
        checkWidth()
    });

    function openDropdown(id) {
        console.log(id)
        document.getElementById(`tab_${id}`).classList.toggle('dropdown-active')
    }

    function checkWidth() {
        if (window.innerWidth  < 528 && !link_chahged){

            for (i of price_toggles){
                console.log(i.dataset.tab_id)
                i.setAttribute('onclick',`openDropdown(${i.dataset.tab_id}); return false`)
            }
            link_chahged = true

        }
        if (window.innerWidth  > 528){
            for (i of price_toggles){
                i.removeAttribute('onclick')
            }
            link_chahged = false

        }
    }

    checkWidth()

</script>

{% endblock %}
