*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'BerlingskeSerif-Blk';
  src: url("../font/BerlingskeSerif-Blk.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url("../font/Circe-Bold.eot");
  src: local("Circe-Bold"), local("Circe-Bold"), url("../font/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Bold.woff") format("woff"), url("../font/Circe-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Regular';
  src: url("../font/Circe-Regular.ttf") format("truetype");
  src: local("Circe-Regular"), local("Circe-Regular"), url("../font/Circe-Regular.woff") format("woff"), url("../font/Circe-Regular.ttf");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../font/GothamPro-Bold.eot");
  src: url("../font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url("../font/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), local("MuseoSansCyrl-100"), url("../font/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-100.woff") format("woff"), url("../font/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url("../font/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), local("MuseoSansCyrl-300"), url("../font/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-300.woff") format("woff"), url("../font/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("../font/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), local("MuseoSansCyrl-500"), url("../font/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-500.woff") format("woff"), url("../font/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url("../font/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), local("MuseoSansCyrl-700"), url("../font/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-700.woff") format("woff"), url("../font/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-900Italic';
  src: url("../font/MuseoSansCyrl-900Italic.eot");
  src: local("MuseoSansCyrl-900Italic"), local("MuseoSansCyrl-900Italic"), url("../font/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-900Italic.woff") format("woff"), url("../font/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

button[type='button'] {
  display: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-sm {
  max-width: 810px;
  margin: 0 auto;
}

h3,
h4 {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 45px;
  color: #737995;
  line-height: 1.2;
  margin-bottom: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 16px;
  color: #151515;
}

.is_visible {
  display: block;
}

.text-block {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
  color: #151515;
}

.text-block span {
  font-family: 'MuseoSansCyrl-700',sans-serif;
}

.link {
  font-family: 'MuseoSansCyrl-500',sans-serif;
  font-size: 16px;
  color: #4b5c9d;
  text-decoration: underline;
}

.btn,
button {
  border: none;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 260px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeead), color-stop(#ffda70), to(#ffdd84));
  background: -o-linear-gradient(#ffeead, #ffda70, #ffdd84);
  background: linear-gradient(#ffeead, #ffda70, #ffdd84);
  padding: 10px;
  font-family: 'Circe-Bold', sans-serif;
  font-size: .8vw;
  color: #151515;
  border-radius: 20px 20px 20px 20px / 40px 40px 40px 40px;
  -webkit-box-shadow: 0 2px 0 0 #f7bf70;
  box-shadow: 0 2px 0 0 #f7bf70;
}

.btn span,
button span {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 14px;
  text-transform: none;
}

.btn:focus,
button:focus {
  outline-width: 0;
}

.btn-lg {
  padding: 25px 85px;
  width: 470px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.btn-md {
  padding: 25px 85px;
  width: 300px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.btn-callback::before {
  content: url(../img/icons/callback_icon.png);
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.d-flex-jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.mw100 {
  max-width: 100%;
}

.m-a {
  display: block;
  margin: 0 auto;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.form-control {
  border: none;
  background: #f9f4f8;
  border-radius: 20px;
  padding: 15px;
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.04);
}

.form-control::-webkit-input-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
}

.form-control::-moz-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
}

.form-control::-ms-input-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
}

.form-control::placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
}

.form-control:focus {
  outline-width: 0;
}

select {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "\2023";
  position: absolute;
  right: 30px;
  font-size: 30px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #151515;
}

.form-control-sm {
  width: 33%;
}

.form-control-lg {
  grid-column: span 2;
}

.grid-offset2 {
  grid-column-start: 2;
}

.grid-offset3 {
  grid-column-start: 3;
}

.grid-offset4 {
  grid-column-start: 4;
}

/* COL-4*/

.grid-col4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

/* COL-4*/

/* COL-3*/

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 33.3333%));
}

.grid-col2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 33.3333%));
  grid-gap: 30px;
}

/* COL-3*/

.header {
  background: url(../img/header_bg.jpg) no-repeat 70% 0;
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-logo {
  color: #737995;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 305px;
}

.header-logo p {
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 48px;
}

.header-logo span {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 16px;
  width: 50%;
  margin-left: 35px;
  margin-top: -3px;
}

.header-statistic a {
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 12px;
  color: #4b5c9d;
}

.header-statistic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-statistic-wrapper p {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 18px;
  color: #151515;
}

.header-statistic-wrapper p span {
  display: block;
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
}

.header-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-phones-inner p:first-child {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 13px;
  color: #737995;
}

.header-phones-inner span {
  display: block;
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 21px;
  color: #737995;
  margin-bottom: 20px;
}

.mobile-menu-wrapper {
  display: none;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mobile-menu-phohe a {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 16px;
  color: #4b5c9d;
}

.mobile-toggle {
  width: 35px;
  position: relative;
  height: 3px;
  background: #ffd05d;
}

.mobile-toggle::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: #ffd05d;
  top: -7px;
  right: 0;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-toggle::after {
  position: absolute;
  background: #ffd05d;
  content: '';
  width: 35px;
  height: 3px;
  top: 7px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-toggle.mobile-toggle-active {
  background-color: transparent;
}

.mobile-toggle.mobile-toggle-active::before {
  width: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobile-toggle.mobile-toggle-active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobile-menu-panel {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.mobile-menu-panel-active {
  z-index: 11;
  background: rgba(76, 76, 76, 0.84);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.mobile-menu-panel-inner {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  background: #ffffff;
  width: 50%;
  height: 100vh;
  padding: 15px 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.mobile-menu-panel-inner-active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mobile-nav {
  margin-top: 30px;
}

.mobile-nav li {
  margin-bottom: 30px;
}

.mobile-nav li:last-child {
  margin: 0;
}

.mobile-nav li.active a {
  font-family: 'MuseoSansCyrl-700', sans-serif;
}

.mobile-nav li a {
  text-decoration: none;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 16px;
  color: #151515;
}

.mobile-nav li:focus {
  outline-width: 0;
}

.header-dropdown {
  position: fixed;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff;
  display: none;
  z-index: 1000;
  top: 0;
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav li {
  margin-right: 3vw;
}

.nav li:last-child {
  margin: 0;
}

.nav li.active a {
  font-family: 'MuseoSansCyrl-700', sans-serif;
}

.nav li a {
  text-decoration: none;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 16px;
  color: #151515;
}

.header-dropdown-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-dropdown-user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

.header-slide-bottom {
  -webkit-animation: slide-bottom 0.2s ease-in both;
  animation: slide-bottom 0.2s ease-in both;
}

.header-slide-top {
  -webkit-animation: slide-top 0.4s ease-in both;
  animation: slide-top 0.4s ease-in both;
}

.header-inner h1 {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 36px;
  color: #737995;
  margin-top: 100px;
  margin-bottom: 45px;
}

.header-inner h1 span {
  font-family: 'MuseoSansCyrl-700',sans-serif;
}

.header-inner p {
  margin-left: 20px;
  position: relative;
  font-family: 'MuseoSansCyrl-100',sans-serif;
  color: #737995;
  font-size: 18px;
  margin-bottom: 60px;
}

.header-inner p span {
  font-family: "MuseoSansCyrl-500",sans-serif;
}

.header-inner p:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 6px;
  -webkit-transform: skewX(-25deg) rotate(-89deg);
  -ms-transform: skewX(-25deg) rotate(-89deg);
  transform: skewX(-25deg) rotate(-89deg);
  left: -20px;
  background: #ffd05d;
}

.header-inner a {
  margin-bottom: 150px;
  width: 270px;
}

.header-inner .header-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 360px));
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-inner .header-feature {
  background: url(../img/feat.svg) no-repeat;
  height: 170px;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}

.header-inner .header-feature p {
  position: absolute;
  bottom: 40px;
  left: 50px;
  max-width: 65%;
  font-family: 'MuseoSansCyrl-300',sans-serif;
  color: #151515;
  font-size: 14px;
  margin: 0;
}

.header-inner .header-feature p:before {
  content: none;
}

.header-inner .header-feature span {
  font-family: "MuseoSansCyrl-700",sans-serif;
}

.header-feature-icon,
.header-feature-1::before,
.header-feature-2::before,
.header-feature-3::before {
  position: absolute;
  top: -75px;
  left: 60px;
}

.header-feature-1::before {
  content: url(../img/icons/feature-1.png);
}

.header-feature-2::before {
  content: url(../img/icons/feature-2.png);
}

.header-feature-3::before {
  content: url(../img/icons/feature-3.png);
}

.features .feature-item p {
  position: relative;
  font-family: 'MuseoSansCyrl-700', sans-Serif;
  font-size: 60px;
  color: #ffd05d;
  margin-bottom: 25px;
}

.features .feature-item p::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 2px;
  bottom: -5px;
  left: 145px;
  background: #000;
}

.features .feature-item span {
  display: block;
  margin: 0 auto;
  font-family: 'MuseoSansCyrl-300', sans-Serif;
  font-size: 14px;
  color: #151515;
  max-width: 70%;
}

.calculation-form {
  background: url(../img/index_form_bg.png) no-repeat;
  background-position-y: -110px;
  background-position-x: 50%;
  height: 1000px;
}

.calculation-form h4 {
  margin-bottom: 70px;
}

.calculation-form-wrapper {
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  padding: 50px 0;
}

.calculation-form-inner {
  max-width: 615px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 60px;
}

.calculation-form-footer {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 223px));
  grid-gap: 15px;
}

.calculation-form-footer::before {
  content: '';
  width: 700px;
  height: 1px;
  background: #cecece;
  position: absolute;
  top: -30px;
  left: 14px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 30px;
}

.about-man {
  background: url(../img/index_bg2.jpg) no-repeat;
  height: 512px;
  margin-bottom: 130px;
}

.about-man h3,
.about-man h4 {
  max-width: 550px;
}

.about-man h3 span,
.about-man h4 span {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffd05d;
  text-decoration-color: #ffd05d;
}

.about-man p {
  max-width: 450px;
}

.prices {
  margin-bottom: 140px;
}

.prices h3,
.prices h4 {
  margin-bottom: 70px;
}

.prices-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 360px));
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}

.price-item {
  height: 238px;
  padding: 30px;
}

.price-item p {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 14px;
  color: #737995;
  margin-left: 20px;
  position: relative;
}

.price-item p span {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 16px;
  display: block;
}

.price-item p::before {
  content: "\22C5";
  position: absolute;
  color: #ffd05d;
  left: -25px;
  font-size: 50px;
  top: -30px;
}

.price-item h5 {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 21px;
  color: #151515;
  margin-bottom: 30px;
}

.bg-1 {
  background: url(../img/price1.png) no-repeat;
}

.bg-2 {
  background: url(../img/price2.png) no-repeat;
}

.bg-3 {
  background: url(../img/price3.png) no-repeat;
}

.how-it-works {
  overflow: hidden;
  margin-bottom: 150px;
}

.how-it-works h4 {
  margin-bottom: 90px;
}

.how-it-works-numbers {
  background: url(../img/hw.jpg) no-repeat 50% 0;
  position: relative;
  height: 140px;
}

.how-it-works-step {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.how-it-works-step span {
  background: #ffffff;
  border: 1px solid #bebebe;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 16px;
}

.how-it-works-step.step-active {
  border: 1px solid #ffd05d;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.how-it-works-step.step-active span {
  background: #ffd05d;
  border: none;
  color: #ffffff;
}

#step_1 {
  left: 32%;
  top: -15px;
}

#step_2 {
  left: 43%;
  top: -23px;
}

#step_3 {
  right: 43%;
  top: -23px;
}

#step_4 {
  right: 32%;
  top: -15px;
}

.how-it-works-slider {
  position: relative;
}

.how-it-works-slide {
  display: none;
}

.how-it-works-slide.slide-active {
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.slide-text h5 {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 36px;
  color: #737995;
  position: relative;
  z-index: 1;
}

.slide-text h5:before {
  content: attr(data-number);
  position: absolute;
  font-size: 100px;
  font-family: 'MuseoSansCyrl-900Italic', sans-serif;
  color: #e5e5e5;
  z-index: -1;
  top: -50px;
  left: -65px;
}

.slide-text p {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 16px;
  color: #151515;
}

.slide-text p a {
  color: #009cff;
}

.slider-arrows {
  position: absolute;
  width: 360px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 3px;
}

.slider-arrow-left,
.slider-arrow-right {
  color: #ffd05d;
}

.slider-arrow-left a span,
.slider-arrow-right a span {
  display: block;
  color: #ffd05d;
  font-size: 50px;
  line-height: 50px;
}

.slider-arrow-left p,
.slider-arrow-right p {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 14px;
  line-height: 13px;
}

.slider-arrow-left.arrow-not-active,
.slider-arrow-right.arrow-not-active {
  color: #bebebe;
}

.slider-arrow-left.arrow-not-active a,
.slider-arrow-right.arrow-not-active a {
  cursor: context-menu;
  pointer-events: none;
}

.slider-arrow-left.arrow-not-active a span,
.slider-arrow-right.arrow-not-active a span {
  color: #bebebe;
}

.slide-out {
  -webkit-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  transform: translate(200%, 0);
}

.slide-in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.lets-meet {
  background: url(../img/bg3.jpg) no-repeat 15% 0;
  height: 953px;
  margin-bottom: 140px;
}

.lets-meet h3,
.lets-meet h4 {
  width: 700px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 110px;
}

.lets-meet-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 953px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lets-meet-inner p.info-text {
  font-family: 'MuseoSansCyrl-300', sans-Serif;
  font-size: 16px;
  line-height: 24px;
  width: 530px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.quote {
  margin-bottom: 80px;
  font-family: 'MuseoSansCyrl-500', sans-Serif;
  width: 590px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 21px;
  color: #151515;
  position: relative;
}

.quote p {
  width: 550px;
}

.quote::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #ffd05d;
  top: 15px;
  left: -65px;
}

.quote::after {
  position: absolute;
  content: '"';
  font-family: 'BerlingskeSerif-Blk', Sans-Serif;
  font-size: 400px;
  color: #f1f2f3;
  line-height: 0;
  right: -100px;
  top: 130px;
  z-index: -1;
}

.lets-meet-about {
  display: inline-block;
  margin-left: 330px;
}

.lets-meet-about p {
  font-family: 'MuseoSansCyrl-700', sans-Serif;
  font-size: 19px;
}

.lets-meet-about span:first-child {
  position: relative;
  display: inline-block;
}

.lets-meet-about span:first-child:after {
  content: '';
  position: absolute;
  width: 155px;
  height: 2px;
  background: #ffd05d;
  bottom: 4px;
  left: 0;
}

.lets-meet-about span:last-child {
  font-family: 'MuseoSansCyrl-300', sans-Serif;
}

.our-help {
  position: relative;
  margin-bottom: 140px;
}

.our-help-inner {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 10%;
  margin-bottom: 70px;
}

.our-help-media {
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 29px 0 rgba(60, 66, 91, 0.39);
  box-shadow: 0 0 29px 0 rgba(60, 66, 91, 0.39);
}

.our-help-info p {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 16px;
  color: #151515;
}

.our-help-info a {
  display: block;
}

.our-help-info a:last-child {
  padding: 25px 0;
}

.our-help-info-header {
  border-bottom: 1px solid #bebebe;
}

.our-help-info-header h5 {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 16px;
  color: #151515;
  position: relative;
}

.our-help-info-header h5:after {
  content: '';
  position: absolute;
  width: 380px;
  height: 2px;
  background: #ffd05d;
  bottom: 4px;
  left: 0;
}

.our-help-info-header p {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
  color: #737995;
}

.our-help-media-slide-item h5 {
  margin: 20px 0 25px 0;
}

.our-help-media-slide-item p {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  color: #737995;
  line-height: 24px;
  font-size: 14px;
  width: 260px;
}

.controls {
  position: relative;
}

.prev {
  position: absolute;
  cursor: pointer;
  bottom: 100px;
  left: -75px;
}

.prev:focus {
  outline-width: 0;
}

.next {
  position: absolute;
  cursor: pointer;
  bottom: 100px;
  right: -75px;
}

.next:focus {
  outline-width: 0;
}

.why-our-work p {
  position: relative;
  width: 33.33%;
  font-family: 'MuseoSansCyrl-100',sans-serif;
  font-size: 16px;
  color: #151515;
  margin-left: 30px;
}

.why-our-work p span {
  font-family: 'MuseoSansCyrl-500',sans-serif;
}

.why-our-work p:before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #009cff;
  left: -30px;
  top: 12px;
}

.footer {
  border-top: 1px solid #bebebe;
  padding-bottom: 70px;
}

.footer-top {
  margin-top: 70px;
}

.footer-top p {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 12px;
  color: #151515;
}

.footer-top-list {
  margin-left: 25%;
}

.footer-top-list ul li {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 12px;
  color: #151515;
}

.footer-top-phones p {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 21px;
  color: #737995;
  margin-bottom: 15px;
}

.footer-bottom {
  margin-top: 70px;
}

@media screen and (max-width: 1199px) {
  .btn-callback::before {
    content: '';
  }

  .grid-offset2 {
    grid-column-start: 2;
  }

  .grid-offset3 {
    grid-column-start: 3;
  }

  .grid-offset4 {
    grid-column-start: 4;
  }

  .grid-col4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .nav li {
    margin-right: 1vw;
  }
}

@media (max-width: 991px) {
  .grid-offset2 {
    grid-column-start: 2;
  }

  .grid-offset3 {
    grid-column-start: 3;
  }

  .grid-offset4 {
    grid-column-start: 4;
  }

  .grid-col4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .mobile-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-wrapper {
    display: none;
  }
}

@media (max-width: 767px) {
  .grid-offset2 {
    grid-column-start: 1;
  }

  .grid-offset3 {
    grid-column-start: 2;
  }

  .grid-offset4 {
    grid-column-start: 2;
  }

  .grid-col4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .mob {
    border-color: red;
  }

  .grid-offset2 {
    grid-column-start: 1;
  }

  .grid-offset3 {
    grid-column-start: 1;
  }

  .grid-offset4 {
    grid-column-start: 1;
  }

  .grid-col4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .header {
    background: url(../img/header_mobile.jpg) no-repeat 100% 0;
  }
}

@media (max-width: 556px) {
  .form-control-lg {
    grid-column: span 1;
  }

  .calculation-form-footer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
  }
}