@charset "UTF-8";

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'BerlingskeSerif-Blk';
  src: url("../font/BerlingskeSerif-Blk.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url("../font/Circe-Bold.eot");
  src: local("Circe-Bold"), local("Circe-Bold"), url("../font/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Bold.woff") format("woff"), url("../font/Circe-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Regular';
  src: url("../font/Circe-Regular.ttf") format("truetype");
  src: local("Circe-Regular"), local("Circe-Regular"), url("../font/Circe-Regular.woff") format("woff"), url("../font/Circe-Regular.ttf");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../font/GothamPro-Bold.eot");
  src: url("../font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url("../font/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), local("MuseoSansCyrl-100"), url("../font/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-100.woff") format("woff"), url("../font/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url("../font/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), local("MuseoSansCyrl-300"), url("../font/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-300.woff") format("woff"), url("../font/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("../font/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), local("MuseoSansCyrl-500"), url("../font/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-500.woff") format("woff"), url("../font/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url("../font/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), local("MuseoSansCyrl-700"), url("../font/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-700.woff") format("woff"), url("../font/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-900Italic';
  src: url("../font/MuseoSansCyrl-900Italic.eot");
  src: local("MuseoSansCyrl-900Italic"), local("MuseoSansCyrl-900Italic"), url("../font/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrl-900Italic.woff") format("woff"), url("../font/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 14px;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  color: #151515;
}

.main {
  scroll-behavior: smooth;
}

button[type='button'] {
  display: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-sm {
  max-width: 810px;
  margin: 0 auto;
}

h1 {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 45px;
  color: #737995;
}

h3,
h4 {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 45px;
  color: #737995;
  line-height: 1.2;
  margin-bottom: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 16px;
  color: #151515;
}

.no-border {
  border: none !important;
}

.breadcrumbs {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs ul li:after {
  content: '/';
  margin: 0 10px;
}

.breadcrumbs ul li:last-child:after {
  content: '';
}

.breadcrumbs ul li a {
  color: #009cff;
}

.text-block {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
  color: #151515;
}

.text-block span {
  font-family: 'MuseoSansCyrl-700',sans-serif;
}

.link {
  font-family: 'MuseoSansCyrl-500',sans-serif;
  font-size: 16px;
  color: #4b5c9d;
  text-decoration: underline;
  cursor: pointer;
}

.btn,
button {
  border: none;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 260px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe484), to(#ffce5a));
  background-image: -o-linear-gradient(top, #ffe484 0%, #ffce5a 100%);
  background-image: linear-gradient(to bottom, #ffe484 0%, #ffce5a 100%);
  padding: 10px;
  font-family: 'Circe-Bold', sans-serif;
  font-size: 16px;
  color: #151515;
  border-radius: 20px 20px 20px 20px / 40px 40px 40px 40px;
  -webkit-box-shadow: 0 2px 0 0 #f7bf70;
  box-shadow: 0 2px 0 0 #f7bf70;
}

.btn span,
button span {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 14px;
  text-transform: none;
}

.btn:focus,
button:focus {
  outline-width: 0;
}

.btn:hover,
button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffce5a), to(#ffe484));
  background-image: -o-linear-gradient(top, #ffce5a 0%, #ffe484 100%);
  background-image: linear-gradient(to bottom, #ffce5a 0%, #ffe484 100%);
}

.btn-lg {
  padding: 25px 85px;
  width: 470px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.btn-md {
  padding: 25px 85px;
  width: 300px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.btn-callback::before {
  content: url(../images/icons/callback_icon.png);
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.d-flex-jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.mw100 {
  max-width: 100%;
}

.m-a {
  display: block;
  margin: 0 auto;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.pt30 {
  padding-top: 30px;
}

[type="date"] {
  background: #f9f4f8 url(../images/icons/calendar.svg) 86% 50% no-repeat !important;
  color: transparent !important;
}

[type="date"].has-value {
  color: #151515 !important;
}

[type="date"]:not(.has-value):before {
  content: attr(placeholder);
  color: #151515;
}

[type="date"].has-value:before {
  content: '';
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
}

[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type='file'] {
  position: relative;
  color: transparent;
  cursor: pointer;
}

input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}

input[type='file']:before {
  position: absolute;
  content: 'Прикрепить методичку';
  color: #151515;
  bottom: 18px;
}

input[type='file']:after {
  position: absolute;
  content: url(../images/icons/clip.svg);
  right: 20px;
  bottom: 15px;
}

.form-control {
  border: none;
  background: #f9f4f8;
  border-radius: 20px;
  padding: 15px;
  color: #151515;
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.04);
}

.form-control::-webkit-input-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  color: #151515;
}

.form-control::-moz-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  color: #151515;
}

.form-control:-ms-input-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  color: #151515;
}

.form-control::-ms-input-placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  color: #151515;
}

.form-control::placeholder {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  color: #151515;
}

.form-control:focus {
  outline-width: 0;
}

.form-control.borderless {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 1px solid #bebebe;
}

.form-control.error {
  -webkit-box-shadow: inset 0 0 6px 1px rgba(255, 16, 24, 0.77) !important;
  box-shadow: inset 0 0 6px 1px rgba(255, 16, 24, 0.77) !important;
}

.form-error {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 470px;
  color: rgba(255, 16, 24, 0.77);
  padding: 15px;
  margin: 0 auto;
  display: none;
}

.input-phone {
  position: relative;
}

.input-phone:before {
  position: absolute;
  content: url(../images/icons/phone-icon.svg);
  left: 20px;
  bottom: 15px;
}

select {
  font-family: "MuseoSansCyrl-300",sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "\2023";
  position: absolute;
  right: 30px;
  font-size: 30px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #151515;
}

.form-control-sm {
  width: 37%;
}

.form-control-lg {
  grid-column: span 2;
}

.custom-checkbox {
  padding: 6px 40px;
  font-size: 12px;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  color: #bfc0c5;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #bfc0c5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #ffffff;
  border: 1px solid #bebebe;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid #ffd05d;
  border-width: 0 3px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.grid-offset2 {
  grid-column-start: 2;
}

.grid-offset3 {
  grid-column-start: 3;
}

.grid-offset4 {
  grid-column-start: 4;
}

/* COL-4*/

.grid-col4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

/* COL-4*/

/* COL-3*/

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 330px));
}

.grid-col2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, auto));
  grid-gap: 30px;
}

/* COL-3*/

.header {
  background: url(../images/header_bg.jpg) no-repeat 70% 0;
  padding-top: 30px;
  margin-bottom: 70px;
}

.header.header-alt {
  padding: 0;
  margin: 0;
  background: none;
}

.header.header-alt .mobile-menu-wrapper {
  margin-top: 20px;
}

.header-logo {
  color: #737995;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 305px;
}

.header-logo p {
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 48px;
}

.header-logo span {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 16px;
  width: 50%;
  margin-left: 35px;
  margin-top: -3px;
}

.header-statistic a {
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 12px;
  color: #4b5c9d;
}

.header-statistic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-statistic-wrapper p {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 18px;
  color: #151515;
}

.header-statistic-wrapper p span {
  display: block;
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
}

.header-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-phones-inner p:first-child {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 13px;
  color: #737995;
}

.header-phones-inner span {
  display: block;
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 21px;
  color: #737995;
  margin-bottom: 20px;
}

.mobile-menu-wrapper {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mobile-menu-phohe a {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 16px;
  color: #4b5c9d;
}

.mobile-toggle {
  width: 35px;
  position: relative;
  height: 3px;
  background: #ffd05d;
}

.mobile-toggle::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: #ffd05d;
  top: -7px;
  right: 0;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-toggle::after {
  position: absolute;
  background: #ffd05d;
  content: '';
  width: 35px;
  height: 3px;
  top: 7px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-toggle.mobile-toggle-active {
  background-color: transparent;
}

.mobile-toggle.mobile-toggle-active::before {
  width: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobile-toggle.mobile-toggle-active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobile-menu-panel {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.mobile-menu-panel-active {
  z-index: 11;
  background: rgba(76, 76, 76, 0.84);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.mobile-menu-panel-inner {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  background: #ffffff;
  width: 50%;
  height: 100vh;
  padding: 15px 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.mobile-menu-panel-inner-active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mobile-nav {
  margin-top: 30px;
}

.mobile-nav li {
  margin-bottom: 30px;
}

.mobile-nav li:last-child {
  margin: 0;
}

.mobile-nav li.active a {
  font-family: 'MuseoSansCyrl-700', sans-serif;
}

.mobile-nav li a {
  text-decoration: none;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 16px;
  color: #151515;
}

.mobile-nav li:focus {
  outline-width: 0;
}

.header-dropdown {
  position: fixed;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff;
  display: none;
  z-index: 1000;
  top: 0;
}

.header-dropdown.fixed {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav li {
  margin-right: 3vw;
}

.nav li:last-child {
  margin: 0;
}

.nav li.active a {
  font-family: 'MuseoSansCyrl-700', sans-serif;
}

.nav li a {
  text-decoration: none;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 16px;
  color: #151515;
}

.header-dropdown-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-dropdown-user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

.header-slide-bottom {
  -webkit-animation: slide-bottom 0.2s ease-in both;
  animation: slide-bottom 0.2s ease-in both;
}

.header-slide-top {
  -webkit-animation: slide-top 0.4s ease-in both;
  animation: slide-top 0.4s ease-in both;
}

.header-inner h1 {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 36px;
  color: #737995;
  margin-top: 100px;
  margin-bottom: 45px;
}

.header-inner h1 span {
  font-family: 'MuseoSansCyrl-700',sans-serif;
}

.header-inner p {
  margin-left: 20px;
  position: relative;
  font-family: 'MuseoSansCyrl-100',sans-serif;
  color: #737995;
  font-size: 18px;
  margin-bottom: 60px;
}

.header-inner p span {
  font-family: "MuseoSansCyrl-500",sans-serif;
}

.header-inner p:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 6px;
  -webkit-transform: skewX(-25deg) rotate(-89deg);
  -ms-transform: skewX(-25deg) rotate(-89deg);
  transform: skewX(-25deg) rotate(-89deg);
  left: -20px;
  background: #ffd05d;
}

.header-inner a {
  margin-bottom: 150px;
  width: 270px;
}

.header-inner .header-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 360px));
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-inner .header-feature {
  background: url(../images/feat.svg) no-repeat;
  height: 170px;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}

.header-inner .header-feature p {
  position: absolute;
  bottom: 40px;
  left: 50px;
  max-width: 65%;
  font-family: 'MuseoSansCyrl-300',sans-serif;
  color: #151515;
  font-size: 14px;
  margin: 0;
}

.header-inner .header-feature p:before {
  content: none;
}

.header-inner .header-feature span {
  font-family: "MuseoSansCyrl-700",sans-serif;
}

.header-feature-icon,
.header-feature-1::before,
.header-feature-2::before,
.header-feature-3::before {
  position: absolute;
  top: -75px;
  left: 60px;
}

.header-feature-1::before {
  content: url(../images/icons/feature-1.png);
}

.header-feature-2::before {
  content: url(../images/icons/feature-2.png);
}

.header-feature-3::before {
  content: url(../images/icons/feature-3.png);
}

.features .feature-item p {
  position: relative;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 60px;
  color: #ffd05d;
  margin-bottom: 25px;
}

.features .feature-item p::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 2px;
  bottom: -5px;
  left: 145px;
  background: #000;
}

.features .feature-item span {
  display: block;
  margin: 0 auto;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 14px;
  color: #151515;
  max-width: 70%;
}

.calculation-form {
  background: url(../images/index_form_bg.png) no-repeat;
  background-position-y: -110px;
  background-position-x: 50%;
  height: 1000px;
}

.calculation-form h4 {
  margin-bottom: 70px;
}

.calculation-form-wrapper {
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.calculation-form-inner {
  max-width: 615px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 60px;
}

.calculation-form-footer {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 223px));
  grid-gap: 15px;
  margin-bottom: 30px;
}

.calculation-form-footer::before {
  content: '';
  width: calc(100% - 30px);
  height: 1px;
  background: #cecece;
  position: absolute;
  top: -30px;
  left: 14px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 30px;
}

.about-man {
  background: url(../images/index_bg2.jpg) no-repeat;
  height: 512px;
  margin-bottom: 130px;
  background-position-x: 60%;
  background-position-y: 100%;
}

.about-man h3,
.about-man h4 {
  max-width: 550px;
}

.about-man h3 span,
.about-man h4 span {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffd05d;
  text-decoration-color: #ffd05d;
}

.about-man p {
  max-width: 450px;
}

.prices {
  margin-bottom: 140px;
}

.prices h3,
.prices h4 {
  margin-bottom: 70px;
}

.prices-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 360px));
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}

.price-item {
  height: 238px;
  padding: 30px;
}

.price-item.bg-grey {
  height: 310px;
}

.price-item.dropdown-prices {
  height: 170px;
}

.price-item p {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 14px;
  color: #737995;
  margin-left: 20px;
  position: relative;
}

.price-item p span {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 16px;
  display: block;
}

.price-item p:before {
  content: "\22C5";
  position: absolute;
  color: #ffd05d;
  left: -25px;
  font-size: 50px;
  top: -30px;
}

.price-item h5 {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 21px;
  color: #151515;
  margin-bottom: 30px;
}

.bg-1 {
  background: url(../images/price1.png) no-repeat;
}

.bg-2 {
  background: url(../images/price2.png) no-repeat;
}

.bg-3 {
  background: url(../images/price3.png) no-repeat;
}

.bg-grey {
  background: #f8f9fb;
}

.how-it-works {
  overflow: hidden;
  margin-bottom: 150px;
}

.how-it-works h4 {
  margin-bottom: 90px;
}

.how-it-works-numbers {
  background: url(../images/hw.jpg) no-repeat 50% 0;
  position: relative;
  height: 140px;
}

.how-it-works-step {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.how-it-works-step span {
  background: #ffffff;
  border: 1px solid #bebebe;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 16px;
}

.how-it-works-step.step-active {
  border: 1px solid #ffd05d;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.how-it-works-step.step-active span {
  background: #ffd05d;
  border: none;
  color: #ffffff;
}

#step_1 {
  left: 32%;
  top: -15px;
}

#step_2 {
  left: 43%;
  top: -23px;
}

#step_3 {
  right: 43%;
  top: -23px;
}

#step_4 {
  right: 32%;
  top: -15px;
}

.how-it-works-slider {
  position: relative;
  height: 300px;
}

.how-it-works-slide {
  display: grid;
  position: absolute;
  grid-template-columns: 50% 50%;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.how-it-works-slide.slide-active {
  opacity: 1;
}

.slide-text h5 {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 36px;
  color: #737995;
  position: relative;
  z-index: 1;
}

.slide-text h5:before {
  content: attr(data-number);
  position: absolute;
  font-size: 100px;
  font-family: 'MuseoSansCyrl-900Italic', sans-serif;
  color: #e5e5e5;
  z-index: -1;
  top: -50px;
  left: -65px;
}

.slide-text p {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 16px;
  color: #151515;
}

.slide-text p a {
  color: #009cff;
}

.slider-arrows {
  position: absolute;
  width: 360px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 3px;
}

.slider-arrow-left,
.slider-arrow-right {
  color: #ffd05d;
}

.slider-arrow-left a span,
.slider-arrow-right a span {
  display: block;
  color: #ffd05d;
  font-size: 50px;
  line-height: 50px;
}

.slider-arrow-left a p,
.slider-arrow-right a p {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 14px;
  line-height: 13px;
  color: #ffd05d;
}

.slider-arrow-left.arrow-not-active,
.slider-arrow-right.arrow-not-active {
  color: #bebebe;
}

.slider-arrow-left.arrow-not-active a,
.slider-arrow-right.arrow-not-active a {
  cursor: context-menu;
  pointer-events: none;
}

.slider-arrow-left.arrow-not-active a p,
.slider-arrow-right.arrow-not-active a p {
  color: #ffd05d;
}

.slider-arrow-left.arrow-not-active a span,
.slider-arrow-right.arrow-not-active a span {
  color: #bebebe;
}

.slide-out {
  -webkit-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  transform: translate(200%, 0);
}

.slide-in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.lets-meet {
  background: url(../images/bg3.jpg) no-repeat;
  background-position-x: 15%;
  height: 953px;
  margin-bottom: 140px;
}

.lets-meet-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 953px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lets-meet-inner p.info-text {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 530px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.quote {
  margin-bottom: 80px;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  width: 590px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 21px;
  color: #151515;
  position: relative;
}

.quote p {
  width: 550px;
}

.quote::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #ffd05d;
  top: 15px;
  left: -65px;
}

.quote::after {
  position: absolute;
  content: '"';
  font-family: 'BerlingskeSerif-Blk', sans-serif;
  font-size: 400px;
  color: #f1f2f3;
  line-height: 0;
  right: -100px;
  top: 130px;
  z-index: -1;
}

.lets-meet-about {
  display: inline-block;
  margin-left: 330px;
}

.lets-meet-about p {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 19px;
}

.lets-meet-about span:first-child {
  position: relative;
  display: inline-block;
}

.lets-meet-about span:first-child:after {
  content: '';
  position: absolute;
  width: 155px;
  height: 2px;
  background: #ffd05d;
  bottom: 4px;
  left: 0;
}

.lets-meet-about span:last-child {
  font-family: 'MuseoSansCyrl-300', sans-serif;
}

.our-help {
  position: relative;
  margin-bottom: 140px;
}

.our-help-inner {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 10%;
  margin-bottom: 70px;
}

.our-help-inner-full-review {
  max-height: 0;
  visibility: hidden;
  border-bottom: 1px solid #dddde0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-transition: visibility .1s linear, max-height .2s linear;
  -o-transition: visibility .1s linear, max-height .2s linear;
  transition: visibility .1s linear, max-height .2s linear;
}

.our-help-inner-full-review.full-review-active {
  max-height: 300px;
  visibility: visible;
  -webkit-transition: max-height .2s linear, visibility .1s linear .1s;
  -o-transition: max-height .2s linear, visibility .1s linear .1s;
  transition: max-height .2s linear, visibility .1s linear .1s;
}

.our-help-media {
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 29px 0 rgba(60, 66, 91, 0.39);
  box-shadow: 0 0 29px 0 rgba(60, 66, 91, 0.39);
  height: 435px;
}

.our-help-info p {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 16px;
  color: #151515;
}

.our-help-info a {
  display: block;
}

.our-help-info a:last-child {
  padding: 25px 0;
}

.our-help-info-header {
  border-bottom: 1px solid #bebebe;
}

.our-help-info-header h5 {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 16px;
  color: #151515;
  position: relative;
}

.our-help-info-header h5:after {
  content: '';
  position: absolute;
  width: 380px;
  height: 2px;
  background: #ffd05d;
  bottom: 4px;
  left: 0;
}

.our-help-info-header p {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
  color: #737995;
}

.our-help-media-slide-item {
  cursor: pointer;
}

.our-help-media-slide-item h5 {
  margin: 20px 0 25px 0;
}

.our-help-media-slide-item p {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  color: #737995;
  line-height: 24px;
  font-size: 14px;
  width: 260px;
}

.our-help-media-slide-image img {
  border-radius: 10px;
}

.controls {
  position: relative;
}

.prev {
  position: absolute;
  cursor: pointer;
  bottom: 100px;
  left: -75px;
}

.prev:focus {
  outline-width: 0;
}

.next {
  position: absolute;
  cursor: pointer;
  bottom: 100px;
  right: -75px;
}

.next:focus {
  outline-width: 0;
}

.why-our-work {
  background: url(../images/why_bg.jpg) no-repeat center;
  height: 900px;
}

.why-our-work p {
  position: relative;
  width: 33.33%;
  font-family: 'MuseoSansCyrl-100',sans-serif;
  font-size: 16px;
  color: #151515;
  margin-left: 30px;
}

.why-our-work p span {
  font-family: 'MuseoSansCyrl-500',sans-serif;
}

.why-our-work p:before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #009cff;
  left: -30px;
  top: 12px;
}

.blog {
  margin-bottom: 130px;
}

.grid-col3.blog-posts-wrapper {
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 330px));
}

.blog-post-item img {
  border-radius: 10px;
  max-width: 330px;
}

.blog-post-item h5 {
  color: #737995;
  font-size: 21px !important;
  width: 290px;
}

.blog-post-item h5 a {
  color: inherit;
}

.blog-post-item p {
  max-width: 360px;
}

.blog-post {
  margin-bottom: 100px;
}

.blog-post-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.blog-post-text h1 {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 21px;
  color: #737995;
  margin-bottom: 50px;
}

.blog-post-text p {
  line-height: 30px;
}

.blog-post-image img {
  border-radius: 10px;
}

.contacts {
  margin-bottom: 120px;
}

.contacts-bg {
  background: #f8f9fb;
  height: 220px;
  padding-top: 40px;
  margin-bottom: 60px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-work-time {
  margin-bottom: 130px;
}

.contacts-phones {
  width: 450px;
}

.contacts-phones-header {
  margin-bottom: 60px;
  text-align: center;
}

.contacts-phones-header p {
  position: relative;
  font-family: 'MuseoSansCyrl-500',sans-serif;
  font-size: 24px;
  display: inline-block;
}

.contacts-phones-header p:before {
  position: absolute;
  content: url(../images/icons/contacts-phone.png);
  bottom: 45px;
  left: 37%;
}

.contacts-mail {
  text-align: center;
  width: 450px;
}

.contacts-mail-header {
  margin-bottom: 60px;
}

.contacts-mail-header p {
  position: relative;
  font-family: 'MuseoSansCyrl-500',sans-serif;
  font-size: 24px;
  display: inline-block;
}

.contacts-mail-header p:before {
  position: absolute;
  content: url(../images/icons/contacts-mail.png);
  bottom: 45px;
  left: 22%;
}

.contacts-mail-info {
  border-bottom: 1px solid #bebebe;
}

.contacts-mail-info p {
  font-family: 'MuseoSansCyrl-100',sans-serif;
  font-size: 16px;
  color: #151515;
  display: inline-block;
}

.contacts-mail-info span {
  font-family: 'MuseoSansCyrl-100',sans-serif;
  font-size: 24px;
  color: #009cff;
  display: block;
}

.contacts-phones-inner ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #bebebe;
}

.contacts-phones-inner ul li:first-child {
  padding-top: 0;
}

.contacts-phones-inner ul li:last-child {
  border-bottom: none;
}

.contacts-phones-town {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 16px;
  color: #737995;
  display: inline-block;
}

.contacts-phones-number {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 18px;
  color: #009cff;
  display: inline-block;
}

.all-prices {
  margin-bottom: 100px;
}

.price-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-search input {
  width: 330px;
  margin-bottom: 20px;
}

.prices-item {
  overflow: hidden;
  height: 68px;
  -webkit-transition: height .2s ease-in;
  -o-transition: height .2s ease-in;
  transition: height .2s ease-in;
}

.prices-item-inner {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #bebebe;
  border-radius: 31px;
  padding: 2px 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 62px;
  -webkit-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.prices-item-inner a span {
  display: inline-block;
  background: url(../images/icons/price-item-btn.png) no-repeat 0 8px;
  width: 41px;
  height: 50px;
  opacity: .8;
}

.prices-item-inner a span:hover {
  opacity: 1;
}

.prices-item-inner p {
  display: inline-block;
}

.prices-item-inner p:first-child {
  font-family: 'MuseoSansCyrl-500', sans-serif;
}

.prices-item-inner:hover {
  background: #f8f9fb;
  -webkit-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.dropdown-prices {
  height: 170px;
  border: 1px solid #bebebe;
  border-top: none;
  border-radius: 30px;
}

.dropdown-active {
  height: 310px;
}

.loading {
  background: url(../images/icons/loading.gif) center;
  height: 40px;
  width: 40px;
  background-size: cover;
  display: inline-block;
  margin-left: 20px;
}

.paid-checkmark {
  color: #009cff;
  font-size: 20px !important;
  display: block;
}

.lk-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #bebebe;
  margin-bottom: 65px;
}

.lk-tab {
  width: 25%;
  text-align: center;
  padding: 35px 0;
  cursor: pointer;
}

.lk-tab.bordered {
  border-right: 1px solid #bebebe;
}

.lk-tab-active {
  border-bottom: 3px solid #009cff;
}

.lk-tab p {
  font-family: "MuseoSansCyrl-300", sans-serif;
  color: #009cff;
  font-size: 16px;
}

.profile-icons,
#orders_icon,
#payment_icon,
#profile_icon,
#new_order_icon {
  display: inline-block;
  width: 41px;
  height: 32px;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
}

#orders_icon {
  background: url(../images/icons/cart-icon.png);
}

#payment_icon {
  background: url(../images/icons/payment.png);
}

#profile_icon {
  background: url(../images/icons/user-icon.png);
}

#new_order_icon {
  background: url(../images/icons/new_icon.png);
}

.tab-order {
  position: relative;
  border: 1px solid #bebebe;
  padding: 30px 60px;
  margin-bottom: 40px;
}

.tab-order-status {
  font-family: "MuseoSansCyrl-500", sans-serif;
  font-size: 14px;
}

.tab-order-number {
  position: absolute;
  color: #009cff;
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 21px;
  top: -18px;
  background: #fff;
}

.tab-order-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 30px;
}

.tab-order-info {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}

.tab-order-price {
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
}

.tab-order-price p {
  position: relative;
  font-family: 'MuseoSansCyrl-100';
  font-size: 16px;
}

.tab-order-price p:before {
  content: "\22C5";
  position: absolute;
  color: #ffd05d;
  left: -25px;
  font-size: 50px;
  top: -30px;
}

.tab-order-price p:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 28px;
  background-color: #000000;
  opacity: 0.1;
  top: 15px;
  right: 35px;
}

.tab-order-price span {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 21px;
}

.tab-order-prepay p {
  position: relative;
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 16px;
}

.tab-order-prepay p:before {
  content: "\22C5";
  position: absolute;
  color: #009cff;
  left: -25px;
  font-size: 50px;
  top: -30px;
}

.tab-order-prepay span {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 21px;
}

.tab-order-status-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab-order-status-bar {
  position: relative;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  height: 43px;
  border-radius: 26px;
  background-color: #f5f5f5;
  padding: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab-order-status-bar-inner {
  height: 43px;
  border-radius: 26px;
  background-image: url(../img/bar.jpg);
}

.tab-order-status-bar-inner span {
  position: absolute;
  color: #c2a251;
  font-family: "MuseoSansCyrl-900", sans-serif;
  font-size: 16px;
  bottom: 15px;
}

.tab-order-status-bar-inner span:last-child {
  position: absolute;
  bottom: 15px;
  opacity: 0.57;
  color: #44495d;
  font-family: "MuseoSansCyrl-500", sans-serif;
  font-size: 14px;
  left: 40%;
}

.tab-order-status-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab-order-status-wrapper button {
  width: 210px !important;
}

.tab-payment-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}

.tab-payment-grid-topay {
  padding: 30px 15px;
  border: 1px solid #bebebe;
}

.tab-payment-grid-topay h5 {
  font-size: 21px;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.tab-payment-grid-topay table {
  width: 100%;
  margin-bottom: 25px;
}

.tab-payment-grid-topay table tr {
  line-height: 30px;
}

.tab-payment-grid-topay table tr p {
  font-family: 'MuseoSansCyrl-300',sans-serif;
  font-size: 14px;
  color: #151515;
}

.tab-payment-grid-topay table tr span {
  font-family: 'MuseoSansCyrl-500',sans-serif;
  font-size: 18px;
  color: #151515;
}

.tab-payment-grid-topay table tr span.colored {
  color: #009cff !important;
}

.tab-payment {
  position: relative;
  border: 1px solid #bebebe;
  margin-bottom: 40px;
}

.tab-payment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-payment-order-number {
  position: absolute;
  color: #009cff;
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 21px;
  top: -18px;
  background: #fff;
}

.tab-payment-order-info {
  position: relative;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  padding: 30px 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab-payment-order-info h5 {
  font-size: 18px;
}

.tab-payment-order-info p.border-bottom:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  background: #bebebe;
  left: 15px;
  bottom: 85px;
}

.tab-payment-order-info span {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 28px;
  color: #737995;
}

.tab-payment-fullpay {
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  background: #f8f9fb;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 30px 0 30px 15px;
}

.tab-payment-prepay {
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 30px 0 30px 15px;
}

.tab-payment-radio {
  position: relative;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 18px;
  color: #737995;
  cursor: pointer;
  margin-left: 30px;
}

.tab-payment-radio:before {
  position: absolute;
  content: url(../images/icons/radio-empty.png);
  left: -30px;
  bottom: -7px;
}

.tab-payment-radio.radio-checked:before {
  content: url(../images/icons/radio-checked.png);
}

.order-messages {
  margin-top: 20px;
  border: 1px solid #bebebe;
  padding: 20px;
}

.order-messages-title {
  border-bottom: 1px solid #bebebe;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 18px;
}

.order-messages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-user-message {
  -ms-flex-item-align: start;
  align-self: flex-start;
  border: 1px solid #009cff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f8f9fb;
}

.order-user-message span {
  display: inline-block;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 10px;
}

.order-admin-message {
  border: 2px solid #ffd05d;
  background: #f8f9fb;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.order-admin-message span {
  display: inline-block;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 10px;
}

.new-order-message textarea {
  display: block;
  margin-bottom: 20px;
  height: 100px;
  width: 97%;
}

.footer {
  border-top: 1px solid #bebebe;
  padding-bottom: 70px;
}

.footer-top {
  margin-top: 70px;
}

.footer-top p {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 12px;
  color: #151515;
}

.footer-top-list {
  margin-left: 25%;
}

.footer-top-list ul li {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 12px;
  color: #151515;
}

.footer-top-phones p {
  font-family: 'MuseoSansCyrl-700',sans-serif;
  font-size: 21px;
  color: #737995;
  margin-bottom: 15px;
}

.footer-bottom {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social span {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position-x: 75%;
}

.vk_icon {
  background: url(../img/icons/social.jpg);
  background-position-x: 75%;
}

.fb_icon {
  background: url(../img/icons/social.jpg);
  background-position-x: 75%;
}

.inst_icon {
  background: url(../img/icons/social.jpg);
  background-position-x: 75%;
}

.modal {
  position: relative;
  z-index: 999;
}

.modal-close {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
  color: #151515;
  opacity: .9;
}

.modal-close:hover {
  opacity: 1;
}

.modal-content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 10000px;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.41);
  -webkit-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.modal-content.modal-active {
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

.calculation-form-wrapper.modal-form {
  position: relative;
  overflow: auto;
  width: 100%;
  max-width: 730px;
  margin: auto;
  border-radius: 8px;
  background: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.calculation-form-wrapper.modal-form.login-form {
  max-width: 430px;
}

#register-form-button,
#login-form-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 0;
  width: 49%;
  background: #efefef;
  color: #151515;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.form-filed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 10px;
}

.form-filed-wrapper label {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.form-filed-wrapper input {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

input[type='radio']#login_button {
  display: none;
}

input[type='radio']#login_button:checked ~ .login-form-register-tab {
  display: none;
}

input[type='radio']#login_button:checked ~ #login-form-button {
  background: #fff;
  border-bottom: 1px solid #009cff;
}

input[type='radio']#login_button:checked ~ #login-form-button {
  cursor: default;
}

input[type='radio']#register_button {
  display: none;
}

input[type='radio']#register_button:checked ~ .login-form-login-tab {
  display: none;
}

input[type='radio']#register_button:checked ~ #register-form-button {
  background: #fff;
  border-bottom: 1px solid #009cff;
}

input[type='radio']#register_button:checked ~ #register-form-button {
  cursor: default;
}

.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 15px;
}

.captcha span:nth-child(odd) {
  display: inline-block;
  width: 20px;
  height: 34px;
  margin-left: 5px;
}

.captcha span:nth-child(even) {
  display: inline-block;
  width: 25px;
  height: 34px;
  margin-left: 5px;
}

@media (max-width: 1366px) {
  .lets-meet {
    background-position-x: 40%;
  }

  h3,
  h4 {
    width: 700px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 1199px) {
  .btn-callback::before {
    content: '';
  }

  .grid-offset2 {
    grid-column-start: 2;
  }

  .grid-offset3 {
    grid-column-start: 3;
  }

  .grid-offset4 {
    grid-column-start: 4;
  }

  .grid-col4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .nav li {
    margin-right: 1vw;
  }
}

@media (max-width: 1199px) {
  .not-visible-xl {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .grid-col3.blog-posts-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .grid-offset2 {
    grid-column-start: 2;
  }

  .grid-offset3 {
    grid-column-start: 3;
  }

  .grid-offset4 {
    grid-column-start: 4;
  }

  .grid-col4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .mobile-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-wrapper {
    display: none;
  }

  .header-dropdown {
    display: none !important;
  }

  .not-visible-lg {
    display: none !important;
  }
}

@media (max-width: 990px) {
  .tab-order-status-bar {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .blog-post-wrapper {
    grid-template-columns: 1fr;
  }

  .blog-post-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
  }

  .blog-post-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .blog-post-text h1 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .grid-offset2 {
    grid-column-start: 1;
  }

  .grid-offset3 {
    grid-column-start: 2;
  }

  .grid-offset4 {
    grid-column-start: 2;
  }

  .grid-col4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-our-work {
    background: none;
  }

  .why-our-work p {
    width: 90%;
  }

  .not-visible-md {
    display: none !important;
  }
}

@media (max-width: 575px) {
  h1,
  h3,
  h4 {
    font-size: 24px;
  }

  h4 {
    display: none;
  }

  .btn-lg,
  .btn-md {
    padding: 15px 0;
    width: 95% !important;
  }

  .mob {
    border-color: red;
  }

  .grid-offset2 {
    grid-column-start: 1;
  }

  .grid-offset3 {
    grid-column-start: 1;
  }

  .grid-offset4 {
    grid-column-start: 1;
  }

  .grid-col4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .header {
    background: url(../images/header_mobile.jpg) no-repeat 100% 0;
  }

  .header-features-grid {
    grid-gap: 100px !important;
  }

  .header-inner h1 {
    font-size: 24px;
  }

  .how-it-works-slide {
    grid-template-columns: 1fr;
  }

  .slide-text h5:before {
    left: -5px;
    font-size: 90px;
    top: -33px;
  }

  .slider-arrows {
    width: 100%;
    bottom: 0px;
  }

  .how-it-works-slide.slide-active {
    grid-template-columns: 1fr;
  }

  .how-it-works {
    height: 360px;
  }

  .contacts-phones {
    margin-bottom: 130px;
  }

  .tab {
    padding: 20px 0;
    border: none;
  }

  .tab-order-status-buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tab-order-info {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .tab-order-price {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-left: 22px;
  }

  .tab-order-prepay {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .tab-order-status-wrapper button {
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    margin-top: 20px;
  }

  .tab-order-status-wrapper form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tab-order {
    padding: 10px;
  }

  .order-messages {
    padding: 5px;
  }

  .tab-payment-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .tab-payment-grid-orders {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .tab-payment-grid-topay {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .new-order-message textarea {
    width: 88%;
  }

  .new-order-message button {
    width: 93%;
  }

  .footer-top-phones {
    text-align: center !important;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .not-visible-sm {
    display: none !important;
  }
}

@media (max-width: 556px) {
  .form-error {
    max-width: 360px;
  }

  .form-control-lg {
    grid-column: span 1;
  }

  .calculation-form-footer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 360px;
  }

  .form-row {
    max-width: 360px;
  }
}