$color_grey: #737995
$color_text: #151515
$color_blue: #4b5c9d
$color_yellow: #ffd05d
$color_border: #dddde0
body
  background: #cecece

.container
  max-width: 1140px
  padding: 0 15px
  margin: 0 auto
  border: 1px solid green

.container-sm
  max-width: 810px
  margin: 0 auto
  border: 1px solid red

h3
  font-family: 'MuseoSansCyrl-100', sans-Serif
  font-size: 45px
  color: $color_grey
h4
  @extend h3
  font-size: 18px

.is_visible
  display: block

.form-control
  border: none
  background: #f9f4f8
  border-radius: 20px

  padding: 15px
  box-shadow: inset 2px 2px 5px 1px #0000000d
  &::placeholder
      font-family: "MuseoSansCyrl-300",sans-serif
      font-size: 14px
  &:focus
    outline-width: 0
select
  font-family: "MuseoSansCyrl-300",sans-serif
  font-size: 14px
  appearance: none
  width: 100%

.select-wrapper

   position: relative
   &::after
     content: "\2023"
     position: absolute
     right: 30px
     font-size: 30px
     transform: rotate(90deg)
     color: $color_text

.form-control-sm
  width: 33%
.form-control-lg
  grid-column: span 2
@media (max-width: 556px)
  .form-control-lg
    grid-column: span 1
.link
  font-family: 'MuseoSansCyrl-500',sans-serif
  font-size: 16px
  color: $color_blue

.btn
  display: inline-block
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67)
  text-transform: uppercase
  text-decoration: none
  cursor: pointer
  text-align: center
  width: 10vw
  background: linear-gradient(#ffeead, #ffda70, #ffdd84)
  padding: 10px
  font-family: 'Circe-Bold', sans-serif
  font-size: .8vw
  color: $color_text
  border-radius: 20px 20px 20px 20px / 40px 40px 40px 40px

  box-shadow: 0 2px 0 0 #f7bf70

.btn-lg
  padding: 25px 85px
  width: 15vw
  cursor: pointer
  z-index: 10
  position: relative

.btn-callback::before
  content: url(../img/icons/callback_icon.png)
  margin-right: 10px
  position: relative
  top: 3px

@media screen and (max-width: 1199px)
  .btn-callback::before
    content: ''

.d-flex-jc-sb
  display: flex
  align-items: center
  justify-content: space-between

.flex-column
  flex-direction: column
@media (max-width: 575px)
  .mob
    border-color: red
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right

.mw100
  max-width: 100%

.m-a
  display: block
  margin:  0 auto

.mb10
  margin-bottom: 10px
.mb20
  margin-bottom: 20px
.mb30
  margin-bottom: 30px
.mb40
  margin-bottom: 40px
.mb50
  margin-bottom: 50px

.mt10
  margin-top: 10px
.mt20
  margin-top: 20px
.mt30
  margin-top: 30px
.mt40
  margin-top: 40px
.mt50
  margin-top: 50px