.footer
  border-top: 1px solid #bebebe
  padding-bottom: 70px

.footer-top

  margin-top: 70px
  p
    font-family: 'MuseoSansCyrl-500', sans-serif
    font-size: 12px
    color: $color_text


.footer-top-list
  margin-left: 25%
  ul
    li
      font-family: 'MuseoSansCyrl-100', sans-serif
      font-size: 12px
      color: $color_text

.footer-top-phones
  p
    font-family: 'MuseoSansCyrl-700',sans-serif
    font-size: 21px
    color: $color_grey
    margin-bottom: 15px
.footer-bottom
  margin-top: 70px


