.grid-offset2
  grid-column-start: 2
.grid-offset3
  grid-column-start: 3
.grid-offset4
  grid-column-start: 4

@media screen and (max-width: 1199px)
  .grid-offset2
    grid-column-start: 2
  .grid-offset3
    grid-column-start: 3
  .grid-offset4
    grid-column-start: 4

@media (max-width: 991px)
  .grid-offset2
    grid-column-start: 2
  .grid-offset3
    grid-column-start: 3
  .grid-offset4
    grid-column-start: 4

@media (max-width: 767px)
  .grid-offset2
    grid-column-start: 1
  .grid-offset3
    grid-column-start: 2
  .grid-offset4
    grid-column-start: 2

@media (max-width: 575px)
  .grid-offset2
    grid-column-start: 1
  .grid-offset3
    grid-column-start: 1
  .grid-offset4
    grid-column-start: 1

/* COL-4*/
.grid-col4
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 15px

@media screen and (max-width: 1199px )
  .grid-col4
    grid-template-columns: repeat(4, 1fr)

@media (max-width: 991px)
  .grid-col4
    grid-template-columns: repeat(4, 1fr)

@media (max-width: 767px)
 .grid-col4
    grid-template-columns: repeat(2, 1fr)

@media (max-width: 575px)
  .grid-col4
    grid-template-columns: repeat(1, 1fr)
/* COL-4*/

/* COL-3*/
.grid-col3
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(345px, 380px))

@media (max-width: 1119px)
  .grid-col3
    justify-content: center

.grid-col2
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(330px, auto))
  grid-gap: 30px
//@media screen and (max-width: 1199px )
//  .grid-col2
//    grid-template-columns: repeat(auto-fill, minmax(330px, 480px))
//@media screen and (max-width: 768px )
//  .grid-col2
//    grid-template-columns: repeat(auto-fill, minmax(330px, 350px))
//@media screen and (max-width: 1199px)
//  .grid-col3
//    grid-template-columns: repeat(auto-fill, minmax(360px, auto))
//
//@media (max-width: 991px)
//  .grid-col3
//    grid-template-columns: repeat(auto-fill, minmax(360px, auto))
//
//@media (max-width: 767px)
// .grid-col3
//    grid-template-columns: repeat(auto-fill, minmax(360px, auto))
//
//@media (max-width: 575px)
//  .grid-col3
//    grid-template-columns: repeat(auto-fill, minmax(360px, auto))
/* COL-3*/

.grid-item


