.header
  background: url(../images/header_bg.jpg) no-repeat 70% 0
  //height: 100vh
  padding-top: 30px
  margin-bottom: 70px

.header.header-alt
  padding: 0
  margin: 0
  background: none
  .mobile-menu-wrapper
    margin-top: 20px

@media (max-width: 575px)
  .header
    background: url(../images/header_mobile.jpg) no-repeat 100% 0

.header-logo
  color: $color_grey
  display: flex
  align-items: flex-start
  width: 305px
  //justify-content: space-between

  p
    font-family: "Gotham Pro Bold", sans-serif
    font-size: 48px
  span
    font-family: 'Circe-Regular', sans-serif
    font-size: 16px
    width: 50%
    margin-left: 35px
    margin-top: -3px

.header-statistic
 a
  text-transform: uppercase
  font-family: 'MuseoSansCyrl-700',sans-serif
  font-size: 12px
  color: $color_blue


.header-statistic-wrapper
  display: flex
  align-items: flex-start
  //background: url(../images/header_books.png) no-repeat

  p
    font-family: 'MuseoSansCyrl-700',sans-serif
    font-size: 18px
    color: $color_text

    span
      display: block
      font-family: 'MuseoSansCyrl-300',sans-serif
      font-size: 14px

.header-phones
  display: flex
  justify-content: space-between

.header-phones-inner
  p:first-child
    font-family: 'MuseoSansCyrl-300',sans-serif
    font-size: 13px
    color: $color_grey

  span
    display: block
    font-family: 'MuseoSansCyrl-700',sans-serif
    font-size: 21px
    color: $color_grey
    margin-bottom: 20px

//mobile menu

.mobile-menu-wrapper
  display: none
  //cursor: pointer
  align-items: center
  height: 20px
  justify-content: space-between
  margin-bottom: 20px

.mobile-menu-phohe
  a
    font-family: 'MuseoSansCyrl-700', sans-serif
    font-size: 16px
    color: $color_blue


@media (max-width: 991px)
  .mobile-menu-wrapper
    display: flex
  .header-wrapper
    display: none
  .header-dropdown
    display: none !important


.mobile-toggle
  width: 35px
  position: relative
  height: 3px
  background: $color_yellow
  &::before
    position: absolute
    content: ''
    width: 30px
    height: 3px
    background: $color_yellow
    top: -7px
    right: 0
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s
  &::after
    position: absolute
    background: $color_yellow
    content: ''
    width: 35px
    height: 3px
    top: 7px
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s

.mobile-toggle.mobile-toggle-active
  background-color: transparent
  &::before
    width: 35px
    transform: rotate(45deg)
    top: 0
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s
  &::after
    transform: rotate(-45deg)
    top: 0
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s

.mobile-menu-panel
  position: absolute
  width: 100%
  height: 100vh
  z-index: -1
  transition: background-color 0.5s ease-in

.mobile-menu-panel-active
  z-index: 11
  background: rgba(76, 76, 76, 0.84)
  transition: background-color 0.2s ease-in

.mobile-menu-panel-inner
  transform: translate(-100%,0)
  background: #ffffff
  width: 50%
  height: 100vh
  padding: 15px 15px
  transition: all .3s

.mobile-menu-panel-inner-active
  transform: translate(0,0)


.mobile-nav
  margin-top: 30px
  li
    margin-bottom: 30px
    &:last-child
      margin: 0
    &.active
      a
        font-family: 'MuseoSansCyrl-700', sans-serif
    a
      text-decoration: none
      font-family: 'MuseoSansCyrl-300', sans-serif
      font-size: 16px
      color: $color_text
    &:focus
      outline-width: 0


//dropdown menu
//.header-alt
//  width: 100%
//  justify-content: space-evenly
//  align-items: center
//  height: 120px
//  border-bottom: 1px solid #e5e5e5
//  background: #ffffff
//  display: none


.header-dropdown
  position: fixed
  width: 100%
  justify-content: space-evenly
  align-items: center
  height: 120px
  border-bottom: 1px solid #e5e5e5
  background: #ffffff
  display: none
  z-index: 1000
  top: 0

.header-dropdown.fixed
  position: unset
  display: flex
  z-index: 0

.nav
  display: inline-flex

  li
    margin-right: 3vw
    &:last-child
      margin: 0
    &.active
      a
        font-family: 'MuseoSansCyrl-700', sans-serif
    a
      text-decoration: none
      font-family: 'MuseoSansCyrl-300', sans-serif
      font-size: 16px
      color: $color_text

@media screen and (max-width: 1199px)
  .nav
    li
      margin-right: 1vw

.header-dropdown-user
  display: flex
  align-items: center
  img
    border-radius: 50%
    width: 40px
    height: 40px
    margin-right: 10px


@keyframes slide-bottom
  0%
    transform: translateY(-120px)

  100%
    transform: translateY(0px)

@keyframes slide-top
  0%
    transform: translateY(0px)

  100%
    transform: translateY(-120px)


.header-slide-bottom
  animation: slide-bottom 0.2s ease-in both
.header-slide-top
  animation: slide-top 0.4s ease-in both

//header inner
.header-inner
  h1
    font-family: 'MuseoSansCyrl-300',sans-serif
    font-size: 36px
    color: $color_grey
    margin-top: 100px
    margin-bottom: 45px
    span
      font-family: 'MuseoSansCyrl-700',sans-serif

  p
    margin-left: 20px
    position: relative
    font-family: 'MuseoSansCyrl-100',sans-serif
    color: $color_grey
    font-size: 18px
    margin-bottom: 60px
    span
      font-family: "MuseoSansCyrl-500",sans-serif
    &:before
      content: ''
      position: absolute
      width: 20px
      height: 6px
      transform: skewX(-25deg) rotate(-89deg)
      left: -20px
      background: $color_yellow
  a
    margin-bottom: 150px
    width: 270px

  .header-features-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(340px, 360px))
    grid-gap: 15px
    justify-content: center

  .header-feature
    background: url(../images/feat.svg) no-repeat
    height: 170px
    background-position-x: center
    background-position-y: center
    position: relative
    p
      position: absolute
      bottom: 40px
      left: 50px
      max-width: 65%
      font-family: 'MuseoSansCyrl-300',sans-serif
      color: $color_text
      font-size: 14px
      margin: 0
      &:before
        content: none
    span
      font-family: "MuseoSansCyrl-700",sans-serif
@media (max-width: 575px)
  .header-features-grid
    grid-gap: 100px !important
  .header-inner
    h1
      font-size: 24px

.header-feature-icon
  position: absolute
  top: -75px
  left: 60px

.header-feature-1::before
  content: url(../images/icons/feature-1.png)
  @extend .header-feature-icon
.header-feature-2::before
  content: url(../images/icons/feature-2.png)
  @extend .header-feature-icon
.header-feature-3::before
  content: url(../images/icons/feature-3.png)
  @extend .header-feature-icon


// features

.features


  .feature-item
    p
      position: relative
      font-family: 'MuseoSansCyrl-700', sans-serif
      font-size: 60px
      color: $color_yellow
      margin-bottom: 25px
      &::after
        content: ''
        position: absolute
        width: 90px
        height: 2px
        bottom: -5px
        left: 145px
        background: #000
    span
      display: block
      margin: 0 auto
      font-family: 'MuseoSansCyrl-300', sans-serif
      font-size: 14px
      color: $color_text
      max-width: 70%

//calculation form

.calculation-form
  background: url(../images/index_form_bg.png) no-repeat
  background-position-y: -110px
  background-position-x: 50%
  height: 1000px
  h4
    margin-bottom: 70px


.calculation-form-wrapper
  width: 100%
  border-radius: 8px
  background: #ffffff
  padding: 50px 0
  text-align: center

.calculation-form-inner
  max-width: 615px
  margin: 0 auto
  padding: 0 15px
  margin-bottom: 60px

.calculation-form-footer
  position: relative
  max-width: 700px
  margin: 0 auto
  padding: 0 15px
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(200px,223px))
  grid-gap: 15px
  margin-bottom: 30px
  &::before
    content: ''
    width: calc(100% - 30px)
    height: 1px
    background: #cecece
    position: absolute
    top: -30px
    left: 14px

@media (max-width: 556px)
  .calculation-form-footer
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr))
    grid-gap: 30px
    max-width: 360px
  .form-row
    max-width: 360px

.form-row
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
  grid-gap: 30px


//about-man
.about-man
  background: url(../images/index_bg2.jpg) no-repeat
  height: 512px
  margin-bottom: 130px
  background-position-x: 60%
  background-position-y: 100%

  h3
    max-width: 550px
    span
      text-decoration: underline
      text-decoration-color: $color_yellow

  p
    max-width: 450px

//prices

.prices
  margin-bottom: 140px
  h3
    margin-bottom: 70px

.prices-wrapper
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(340px, 360px))
  grid-gap: 15px
  justify-content: center
  margin-bottom: 70px

.price-item
  height: 238px
  padding: 30px
  &.bg-grey
    height: 310px
  &.dropdown-prices
    height: 170px

  p
    font-family: 'MuseoSansCyrl-100', sans-serif
    font-size: 14px
    color: $color_grey
    margin-left: 20px
    position: relative
    span
      font-family: 'MuseoSansCyrl-500', sans-serif
      font-size: 16px
      display: block

    &:before
        content: "\22C5"
        position: absolute
        color: $color_yellow
        left: -25px
        font-size: 50px
        top: -30px

  h5
    font-family: 'MuseoSansCyrl-700', sans-serif
    font-size: 21px
    color: $color_text
    margin-bottom: 30px

.bg-1
  background: url(../images/price1.png) no-repeat
.bg-2
  background: url(../images/price2.png) no-repeat
.bg-3
  background: url(../images/price3.png) no-repeat
.bg-grey
  background: $bg-grey
// how-it-works

.how-it-works
  overflow: hidden
  margin-bottom: 150px
  h4
    margin-bottom: 90px
.how-it-works-numbers
  background: url(../images/hw.jpg) no-repeat 50% 0
  position: relative
  height: 140px


.how-it-works-step
  display: inline-block
  position: absolute
  width: 50px
  height: 50px
  border-radius: 50%
  padding: 4px
  box-sizing: border-box
  transition: background-color 0.3s ease-in

  span
    background: #ffffff
    border: 1px solid #bebebe
    width: 40px
    height: 40px
    border-radius: 50%
    color: #bebebe
    display: flex
    align-items: center
    justify-content: center
    font-family: 'MuseoSansCyrl-500', sans-serif
    font-size: 16px


.how-it-works-step.step-active
  border: 1px solid $color_yellow
  transition: background-color 0.3s ease-in
  span
    background: $color_yellow
    border: none
    color: #ffffff


#step_1
  left: 32%
  top: -15px
#step_2
  left: 43%
  top: -23px
#step_3
  right: 43%
  top: -23px
#step_4
  right: 32%
  top: -15px
.how-it-works-slider
  position: relative
  height: 300px

.how-it-works-slide
  display: grid
  position: absolute
  grid-template-columns: 50% 50%
  opacity: 0
  transition: opacity .3s ease-in

//


.how-it-works-slide.slide-active
  opacity: 1

@media (max-width: 575px)
  .how-it-works-slide
    grid-template-columns: 1fr


.slide-text
  h5
    font-family: 'MuseoSansCyrl-100', sans-serif
    font-size: 36px
    color: $color_grey
    position: relative
    z-index: 1

    &:before
      content: attr(data-number)
      position: absolute
      font-size: 100px
      font-family: 'MuseoSansCyrl-900Italic', sans-serif
      color: #e5e5e5
      z-index: -1
      top: -50px
      left: -65px
  p
    font-family: 'MuseoSansCyrl-500', sans-serif
    font-size: 16px
    color: $color_text
    a
      color: $color_l_blue





.slider-arrows
  position: absolute
  width: 360px
  display: inline-flex
  justify-content: space-between
  bottom: 3px

@media (max-width: 575px)
  .slide-text
    h5:before
      left: -5px
      font-size: 90px
      top: -33px

  .slider-arrows
    width: 100%
    bottom: 0px

  .how-it-works-slide.slide-active
    grid-template-columns: 1fr

  .how-it-works
    height: 360px



.slider-arrow-left, .slider-arrow-right
  color: $color_yellow
  a
    span
      display: block
      color: $color_yellow
      font-size: 50px
      line-height: 50px

    p
      font-family: 'Circe-Regular', sans-serif
      font-size: 14px
      line-height: 13px
      color: $color_yellow

.slider-arrow-left.arrow-not-active, .slider-arrow-right.arrow-not-active
  color: #bebebe
  a
    cursor: context-menu
    pointer-events: none
    p
      color: $color_yellow
    span
      color: #bebebe


.slide-out
  transform: translate(200%,0)


.slide-in
  transform: translate(0,0)

// lets-meet
.lets-meet
  background: url(../images/bg3.jpg) no-repeat
  background-position-x: 15%
  height: 953px
  margin-bottom: 140px
@media (max-width: 1366px)
  .lets-meet
    background-position-x: 40%
  h3
    width: 700px
    align-self: flex-end
    margin-bottom: 110px

.lets-meet-inner
  display: flex
  flex-direction: column
  height: 953px
  justify-content: center


  p.info-text
    font-family: 'MuseoSansCyrl-300', sans-serif
    font-size: 16px
    line-height: 24px
    width: 530px
    align-self: flex-end

.quote
  margin-bottom: 80px
  p
    width: 550px
  font-family: 'MuseoSansCyrl-500', sans-serif
  width: 590px
  align-self: flex-end
  font-size: 21px
  color: $color_text
  position: relative
  &::before
    position: absolute
    content: ''
    width: 30px
    height: 2px
    background: $color_yellow
    top: 15px
    left: -65px
  &::after
    position: absolute
    content: '"'
    font-family: 'BerlingskeSerif-Blk', sans-serif
    font-size: 400px
    color: #f1f2f3
    line-height: 0
    right: -100px
    top: 130px
    z-index: -1




.lets-meet-about
  display: inline-block
  margin-left: 330px
  p
    font-family: 'MuseoSansCyrl-700', sans-serif
    font-size: 19px
  span:first-child
    position: relative
    display: inline-block
    &:after
      content: ''
      position: absolute
      width: 155px
      height: 2px
      background: #ffd05d
      bottom: 4px
      left: 0
  span:last-child
    font-family: 'MuseoSansCyrl-300', sans-serif


//our help
.our-help
  position: relative
  margin-bottom: 140px
.our-help-inner
  display: grid
  grid-template-columns: 50% 40%
  grid-gap: 10%
  margin-bottom: 70px
  &-full-review
    max-height: 0
    visibility: hidden
    border-bottom: 1px solid $color_border
    margin-bottom: 10px
    padding-bottom: 10px
    transition: visibility .1s linear, max-height .2s linear
    &.full-review-active
      max-height: 300px
      visibility: visible

      transition: max-height .2s linear, visibility .1s linear .1s


.our-help-media
  display: inline-block
  border-radius: 10px
  box-shadow: 0 0 29px 0 rgba(60, 66, 91, 0.39)
  height: 435px
  //background-color: rgb(161, 161, 161)
.our-help-info
  p
    font-family: 'MuseoSansCyrl-700',sans-serif
    font-size: 16px
    color: $color_text
  a
    display: block
    &:last-child
     padding: 25px 0
.our-help-info-header
  border-bottom: 1px solid #bebebe

  h5
    font-family: 'MuseoSansCyrl-700',sans-serif
    font-size: 16px
    color: $color_text
    position: relative
    &:after
      content: ''
      position: absolute
      width: 380px
      height: 2px
      background: #ffd05d
      bottom: 4px
      left: 0

  p
    font-family: 'MuseoSansCyrl-300',sans-serif
    font-size: 14px
    color: $color_grey


.our-help-media-slide-item
  cursor: pointer

  h5
    margin: 20px 0 25px 0
  p
    font-family: 'MuseoSansCyrl-300', sans-serif
    color: $color_grey
    line-height: 24px
    font-size: 14px
    width: 260px
.our-help-media-slide-image
  img
    border-radius: 10px

.controls
  position: relative
.prev
  position: absolute
  cursor: pointer
  bottom: 100px
  left: -75px
  &:focus
    outline-width: 0
.next
  position: absolute
  cursor: pointer
  bottom: 100px
  right: -75px
  &:focus
    outline-width: 0

//why our work

.why-our-work
  background: url(../images/why_bg.jpg) no-repeat center
  height: 900px

  p
    position: relative
    width: 33.33%
    font-family: 'MuseoSansCyrl-100',sans-serif
    font-size: 16px
    color: $color_text
    margin-left: 30px
    span
      font-family: 'MuseoSansCyrl-500',sans-serif
    &:before
      position: absolute
      content: ''
      width: 12px
      height: 12px
      border-radius: 50%
      border: 3px solid $color_l_blue
      left: -30px
      top: 12px

@media (max-width: 767px)
  .why-our-work
    background: none
    p
      width: 90%