.modal
  position: relative
  z-index: 999
  &-close
    position: absolute
    right: 25px
    top: 5px
    font-size: 30px
    cursor: pointer
    color: $color_text
    opacity: .9
    &:hover
      opacity: 1

  &-content
    position: fixed
    display: flex
    overflow: auto
    //padding-bottom: 15px
    //padding-top: 15px
    flex-direction: column
    align-items: center
    justify-content: center
    top: 0
    left: 10000px
    width: 100%
    height: 100%
    background: rgba(21, 21, 21, 0.41)
    transition: left 0.3s ease-out
  &-content.modal-active
    left: 0
    transition: left 0.3s ease-in

.calculation-form-wrapper.modal-form
  position: relative
  overflow: auto
  width: 100%
  max-width: 730px
  margin: auto
  border-radius: 8px
  background: #ffffff
  padding: 50px 0
  text-align: center

.calculation-form-wrapper.modal-form.login-form
  max-width: 430px

#register-form-button, #login-form-button
  display: inline-block
  margin-bottom: 10px
  padding: 10px 0
  width: 49%
  background: #efefef
  color: $color_text
  font-family: 'MuseoSansCyrl-500', sans-serif
  text-transform: uppercase
  cursor: pointer


.form-filed-wrapper
  display: flex
  align-items: center
  justify-content: space-around
  padding: 0 10px

  label
    flex-basis: 30%
  input
    flex-grow: 2

input[type='radio']#login_button
  display: none
  &:checked
    ~.login-form-register-tab
      display: none
    ~#login-form-button
      background: #fff
      border-bottom: 1px solid $color_l_blue
    ~#login-form-button
      cursor: default
input[type='radio']#register_button
  display: none
  &:checked
    ~.login-form-login-tab
      display: none
    ~#register-form-button
      background: #fff
      border-bottom: 1px solid $color_l_blue
    ~#register-form-button
      cursor: default

.captcha
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 0 15px

  span:nth-child(odd)
    display: inline-block
    width: 20px
    height: 34px
    margin-left: 5px
  span:nth-child(even)
    display: inline-block
    width: 25px
    height: 34px
    margin-left: 5px

