{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer-top grid-col4">
            <div class="footer-top-info">
                <p>Все материалы данного сайта защищены авторским правом. Полное или частичное копирование запрещено. Информация предназначена для аудитории 14+</p>
            </div>

            <div style="visibility: hidden"  class="footer-top-list not-visible-sm">
                <p>Реквизиты в России:</p>
                <ul>
                    <li>ИП Фамилия И.И.</li>
                    <li>ИНН 54651326526</li>
                    <li>ОГРНИП 561563592526</li>
                </ul>
            </div>
            <div {% if  contactactive %}style="visibility: hidden" {% endif %} class="footer-top-list not-visible-sm">
                <p>Адрес офиса:</p>
                <ul>
                    <li>г. {{ subdomain.town }}</li>
                    <li>{{ subdomain.contactStreet }}</li>
                    <li>Телефон: {{ subdomain.contactPhone }}</li>
                </ul>
            </div>


            <div class="footer-top-phones text-right">
                <p>8 800 500 43 57</p>
                <a class="btn " onclick="toggleModal('callback-order-modal')">заказать звонок</a>
            </div>



            <div class="header-logo not-visible-sm">
                <img src="{% static 'images/icons/ede.png' %}" alt="">
                <span>Заказать диплом или курсовую у реальных практиков</span>
            </div>
            <div class="footer-social">
                <a class="link" href="{% url 'policy' %}">политика конфидициальности</a>

                <ul>
                    <li><a href="https://vk.com/ede74" target="_blank" rel="nofollow"><span class="vk_icon"></span></a></li>
                    <li><a href="#" rel="nofollow"><span class="fb_icon"></span></a></li>
                    <li><a href="https://www.instagram.com/edelveis74/" target="_blank" rel="nofollow"><span class="inst_icon"></span></a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>
<!-- Yandex.Metrika counter -->
{% if seotag.yandexMetrika %}
{{ seotag.yandexMetrika | safe }}
{% endif %}
{% if seotag.fbPixel %}
{{ seotag.fbPixel | safe }}
{% endif %}


<script src="{% static 'js/sendform.js' %}"></script>