{% load static %}
<header class="header header-alt">

    <div class="container mobile-menu-wrapper">
        <div class="mobile-toggle"></div>
        <div class="mobile-menu-phohe">
            <a href="tel:+73512308040">+7 (351) 230 80 40</a>
        </div>
    </div>
    <div class="mobile-menu-panel">
        <div class="mobile-menu-panel-inner">
            <div class="header-dropdown-user" >
                <!-- <a class="link" href="#">Зарегистрироваться</a> -->
                <img src="{% static 'images/icons/EDE.png' %}" alt="">
                <a class="link" href="#">Анастатися</a>
            </div>
            <ul class="mobile-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="{% url 'prices' %}">Цены и сроки</a></li>
                <li><a href="#">Способы оплаты</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div><!-- end mobile-menu-panel -->
    <div class="header-dropdown fixed">
        <img src="{% static 'images/icons/EDE.png' %}" alt="">
        <ul class="nav">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="{% url 'prices' %}">Цены и сроки</a></li>
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">О нас</a></li>
             <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
        <a  class="btn" onclick="toggleModal()">оформить заявку</a>
        <div class="header-dropdown-user" >
            <!-- <a class="link" href="#">Зарегистрироваться</a> -->
            <img src="{% static 'images/icons/EDE.png' %}" alt="">
            <a class="link" href="#">Анастатися</a>
        </div>
    </div><!-- end header-dropdown -->




</header>