{% load static %}
<header class="header header-alt">

    <div class="container mobile-menu-wrapper">
        <div class="mobile-toggle"></div>
        <div class="mobile-menu-phohe">
            <a href="tel:+73512308040">+7 (351) 230 80 40</a>
        </div>
    </div>
    <div class="mobile-menu-panel">
        <div class="mobile-menu-panel-inner">
            <div class="header-dropdown-user" >
                 {% if request.user.is_authenticated %}
                    <img src="{% static 'images/icons/EDE.png' %}" alt="">
                        <a class="link" href="{% url 'lk' %}">{{ request.user.email }}</a>
                {% else %}
                    <a class="link" onclick="toggleModal('login-modal')">Вход/Регистрация</a>
                {% endif %}
            </div>
            <ul class="mobile-nav">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="{% url 'prices' %}">Цены и сроки</a></li>
                <li><a href="#">Способы оплаты</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div><!-- end mobile-menu-panel -->
    <div class="header-dropdown fixed">
        <img src="{% static 'images/icons/EDE.png' %}" alt="">
        <ul class="nav">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="{% url 'prices' %}">Цены и сроки</a></li>
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">О нас</a></li>
             <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
        <a  class="btn" onclick="toggleModal('order-modal')">оформить заявку</a>
        <div class="header-dropdown-user" >
            {% if request.user.is_authenticated %}
                    <img src="{% static 'images/icons/EDE.png' %}" alt="">
                      <a class="link" href="{% url 'lk' %}">{{ request.user.email }}</a>
                {% else %}
                    <a class="link" onclick="toggleModal('login-modal')">Вход/Регистрация</a>
                {% endif %}
        </div>
    </div><!-- end header-dropdown -->




</header>